{% load i18n %}
{% load static %}

<style>
    @media (min-width: 576px) {}
    @media (min-width: 768px) {
        img.profile-avatar{
            width: 20vw !important;
            height: 20vw !important;
            margin: auto !important;
        }
        .username-container{
            margin: 20px 0 0 0 !important;
        }
    }
    @media (min-width: 992px) {
        img.profile-avatar{
            width: 20vw !important;
            height: 20vw !important;
            margin: auto !important;
        }
    }
    @media (min-width: 1200px) {
        img.profile-avatar{
            width: 300px !important;
            height: 300px !important;
        }
        .dashboard-sidebar-container{
            max-width: 500px;
        }
    }
</style>




<div class="col-12 col-md-4 d-flex flex-column dashboard-sidebar-container">
    <div class="row d-flex" style="padding: 20px 0px; width: 100%; margin: 0;">
        <div class="col-2 col-md-12 col-lg-12 col-xl-12 d-flex">
            {% if profile.user_avatar %}
                <img class="profile-avatar" src="{{ profile.user_avatar.url }}" style="border-radius: 50%; width: 15vw; height: 15vw;">
            {% else %}
                <img class="profile-avatar" src="{% static 'img/default-avatar.png' %}" style="border-radius: 50%; width: 15vw; height: 15vw;">
            {% endif %}
        </div>
        <div class="col-10 col-md-12 col-lg-12 col-xl-12 d-flex">
            <div class="row d-flex username-container" style="margin:0 0 0 20px; width: 100%;">
                <p style="font-size: 1.3rem; margin: auto 0; ">{{ profile.user.username }}</p>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0; width: 100%; padding: 10px 0px;">
        <div class="col">
            <a href='{% url "user_settings" user.profile.slug %}' class="btn btn-block btn-light" style="width: 100%; padding: 6px; font-family:'Noto Sans TC', sans-serif; font-weight: 500; border: 1px solid #BFB9B8; font-size: 16px;">Edit profile</a>
        </div>
    </div>
    <div class="row" style="margin:0; padding: 10px 15px 0px 15px;">
        <div class="d-flex" style="border-radius: 50px; background-color:rgba(136,151,109); padding: 5px 15px; font-size: 14px; color: white; font-weight: 700;">
            pre-alpha contributor
        </div>
    </div>
    <!--
    <div class="row d-flex" style="margin:0; width: 100%; padding: 10px 10px 0px 0px;">
        <div class="col">
            <img src="{% static 'img/people.svg' %}" style="margin-right: 5px;" width="15">
            <span style="font-size: 14px; margin-right: 5px; font-weight: 700;">{{countFollowers}}</span>
            <span style="font-size: 14px; margin-right: 5px;">followers</span>
        </div>
    </div>
    <div class="row d-flex" style="margin:0; width: 100%; padding: 0px 10px 0px 0px;">
        <div class="col">
            <img src="{% static 'img/people.svg' %}" style="margin-right: 5px;" width="15">
            <span style="font-size: 14px; margin-right: 5px; font-weight: 700;">{{countFollowings}}</span>
            <span style="font-size: 14px; margin-right: 5px;">followings</span>
        </div>
    </div>
    <div class="row d-flex" style="margin:0; width: 100%; padding: 0px 10px 0px 0px;">
        <div class="col">
            <img src="{% static 'img/heart.svg' %}" style="margin-right: 5px;" width="15">
            <span style="font-size: 14px; margin-right: 5px; font-weight: 700;">{{countlikes}}</span>
        </div>
    </div>
    -->
</div>