{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="explore-container" style="height: 100%;" >
    <div class="row" style="height: 40%; background-color: #E4E4E4;">
        <div class="col-md-2" style="margin-top: 5.5rem;"></div>
        <div class="col-md-8" style="margin-top: 5.5rem;">
            <h1 style="font-size: 3vw; font-weight: 900;">Welcome to the Hololink Universe</h1>
            <p style="font-size: 1vw;">Explore, read and be inspired by every public galaxies built by hololink users.</p>
        </div>
        <div class="col-md-2" style="margin-top: 5.5rem;"></div>
    </div>
    <div class="row" style="margin-top: 3rem; padding: 0 10rem;">
        <div class="col mr-auto d-flex flex-row" style="height: 2.5rem;">
            <a href='{% url "explore" %}' class="btn btn-block btn-light" style="width:20%; padding:6px 0px; font-family:'Noto Sans TC', sans-serif; font-weight: 900; border-top-right-radius: 0; border-bottom-right-radius: 0; margin: auto 0;">Holograms</a>
            <a href='{% url "explore_users" %}' class="btn btn-block btn-primary" style="width: 20%; padding:6px 0px; font-family:'Noto Sans TC', sans-serif; font-weight: 900; margin-top: 0; border-top-left-radius: 0;border-bottom-left-radius: 0; margin: auto 0;">Users</a>
        </div>
        <div class="col d-flex">
            <div class="dropdown ml-auto">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #f8f9fa; color: black; border: #E4E4E4 solid 1px; width: 8rem;">
                  Popular
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <!--<a class="dropdown-item" href="#">Trending</a> -->
                  <a class="dropdown-item" href="#">Popular</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}