{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="explore-container" style="height: 100%;" >
    <div class="row" style="height: 40%; background-color: #E4E4E4;">
        <div class="col-md-2" style="margin-top: 5.5rem;"></div>
        <div class="col-md-8" style="margin-top: 5.5rem;">
            <h1 style="font-size: 3vw; font-weight: 900;">Welcome to the Hololink Universe</h1>
            <p style="font-size: 1vw;">Explore, read and be inspired by every public galaxies built by hololink users.</p>
        </div>
        <div class="col-md-2" style="margin-top: 5.5rem;"></div>
    </div>
</div>

{% endblock %}