{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="explore-container" style="height: 100%;" >
    <div class="row" style="height: 40%; background-color: #E4E4E4;">
        <div class="col-2" style="margin-top: 5.5rem;"></div>
        <div class="col-8" style="margin-top: 5.5rem;">
            <h1 style="font-size: 3rem;">Welcome to the Hololink Universe</h1>
            <p>Explore, read and be inspired by every galaxies built by hololink users.</p>
        </div>
        <div class="col-2" style="margin-top: 5.5rem;"></div>
    </div>
</div>

{% endblock %}