

{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
    <head>

        {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700;900&display=swap"
            rel="stylesheet">
        <style>


        </style>
        {% endblock %}
    </head>
    
    <body style="padding-bottom: 0;">
        <div class="comtainer-fluid" style="background-color: #0D0D0D; width: 100%; height: 100%">
            <div class="row d-flex" style="width: 100%; height: 100%; margin: 0;">
                <div class="col m-auto" style="background-color: white; opacity: 0.25; border-radius: 6px; width: 80%;">
                    ssssssssssssss
                </div>
            </div>
            
        </div>
    </body>
</html>

