{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<style>
    @media (min-width: 1200px){
        .punchline {
            font-size: 3.2rem;
            font-weight: 700;
        }
    }
</style>

<div class="container-fluid">
    <div class="row header">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="row d-flex">
                <h1 class="punchline" style="margin:0 auto; padding: 20px; max-width: 1000px;">Tired of taking note and organizing information through separate documents?</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}
