{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    .howto_subheader {
        font-weight: 500; 
        font-size: 15px; 
        font-family:'Noto Sans TC', sans-serif;
    }

    .howto_header {
        font-weight: 900; 
        font-size: 18px; 
        font-family:'Noto Sans TC', sans-serif;
    }

    .features_header {
        font-family: 'Noto Sans TC', sans-serif; 
        font-weight: 900; 
        font-size: 1.8rem;
    }

    .features_subheader {
        font-family:'Noto Sans TC', sans-serif;
        font-weight: 300; 
        font-size: 1.2rem; 
    }

</style>
<div class="container-fluid" style="padding:0px;">
    <div class="header_container">
        <div class="row" style="height: 18rem"></div>
        <div class="row" style="padding-left: 10rem;">
            <div class="col">
                <div class="row" style="width:75%">
                    <h2 class="text-left" style="font-family: 'Noto Sans TC', sans-serif; font-weight: 900; font-size: 2rem;">Tired of taking note and organizing information through separate documents?</h2>
                </div>
                <div class="row" style="height: 1.5rem;"></div>
                <div class="row" style="width:75%">
                    <p class="text-left" style="font-family: 'Noto Sans TC', sans-serif; font-weight: 300;">While you are reading, we collect every information, relate them in graph database to form bigger picture and help you generate knowledge through our data. Everything become effortless.</p>
                </div>
                <div class="row" style="height: 1rem;"></div>
                <div class="row d-flex flex-row">
                    <div class="col-auto" style="padding:0 0 10px 0; width: 10rem;">
                        <button class="btn btn-block btn-secondary" style="width: 100%; padding: 12px; font-family:'Noto Sans TC', sans-serif; font-weight: 900;">Try Hololink</button>
                    </div>
                    <div class="col-auto" style="padding:0 0 0 10px; width: 10rem;">
                        <button class="btn btn-block btn-outline-secondary" style="width: 100%; padding: 12px; font-family:'Noto Sans TC', sans-serif; font-weight: 900;">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="{% static 'img/Hololink_article.png' %}" class="img-fluid" alt="Responsive image" style="width:36rem">
            </div> 
        </div>
        <div class="row" style="height: 18rem"></div>
    </div>
    <div class="howto_container" style="background-color: #BFB9B8; padding: 2rem 0">
        <div class="row" style="padding-left: 10rem;">
            <h2 style="font-size: 2rem; font-family:'Noto Sans TC', sans-serif; font-weight: 900; font-size: 2rem;">How it works</h2>
        </div>
        <div class="row" style="height: 5rem"></div>
        <div class="row d-flex flex-row" style="padding:0 10rem;">
            <div class="col">
                <div class="row"></div>
                <div class="row" style="width:80%;">
                    <h3 class="howto_header text-center">Collect all, don't need to bother which article should you take the note anymore</h3>
                </div>
                <div class="row" style="width:80%;">
                    <h4 class="howto_subheader text-center">Use browser extension upload the article into Hololink, we will collect the right keyword for you</h4>
                </div>
            </div>
            <div class="col">
                <div class="row"></div>
                <div class="row" style="width:80%;">
                    <h3 class="howto_header text-center">Relate everything, start small but end with big</h3>
                </div>
                <div class="row" style="width:80%;">
                    <h4 class="howto_subheader text-center">Relate every keyword together in the graph database. You can search and memorize any meaningful information in your private graph database</h4>
                </div>
            </div>
            <div class="col">
                <div class="row"></div>
                <div class="row" style="width:80%;">
                    <h3 class="howto_header text-center">Gain Insight, boost your efficiency of generating knowledge</h3>
                </div>
                <div class="row" style="width:80%;">
                    <h4 class="howto_subheader text-center">Pick one topic, we will show you the bigger picture of it</h4>
                </div>
            </div>
            <div class="col">
                <div class="row"></div>
                <div class="row" style="width:80%;">
                    <h3 class="howto_header text-center">Share & Export, share your knowledge with anyone</h3>
                </div>
                <div class="row" style="width:80%;">
                    <h4 class="howto_subheader text-center">You can share your private graph anywhere, anytime with anyone. Knowledge is worth sharing.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="features_graphdb_container" style="padding: 0; margin: 9rem 0">
        <div class="row" style="padding-left: 10rem;">
            <div class="col">
                <div class="row" style="width: 75%;">
                    <h3 class="features_header text-left">Graph Database enlighten the path</h3>
                </div>
                <div class="row" style="height: 0.8em;"></div>
                <div class="row" style="width: 75%;">
                    <h4 class="features_subheader text-left">Compared to hierarchical database, Graph database has inherent connection between data. This feature make graph database work like human brain and much suitable for storing connected thought.</h4>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="features_pendulum_container" style="padding: 0; margin: 9rem 0">
        <div class="row" style="padding-left: 10rem;">
            <div class="col">
                
            </div>
            <div class="col">
                <div class="row" style="width: 75%;">
                    <h3 class="features_header text-right">Pendulum System</h3>
                </div>
                <div class="row" style="height: 0.8em;"></div>
                <div class="row" style="width: 75%;">
                    <h4 class="features_subheader text-right">Which article you should read? To answer this question we build "Pendulum System" based on Hololink. When you encounter a new article we can help you analyse the article and compare the keyword with your Hololink. We will recommend you read the article which have 50% known keyword and 50% unknown keyword.</h4>
                </div>
            </div>
        </div>
    </div>


        <div class="row" style="padding-left: 10rem;">
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row" style="padding-left: 10rem;">
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row" style="padding-left: 10rem;">
            <div class="col"></div>
            <div class="col"></div>
        </div>
    
</div>

{% endblock %}
