{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
</script>

<style>
    @media (min-width: 576px) {
        .nav-container{
            max-height: 300px;
        }
        
        .user-name h1{
            font-size: min(5vw, 33px) !important;
        }
        .user-name h3{
            font-size: clamp(16px, 3vw, 20px) !important;
        }
        
    }
    @media (min-width: 768px) {
        
    }
    @media (min-width: 992px) {
        a.dashboard-nav-item{
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1rem;
            border-bottom: 3px solid transparent;
        }

    }
    @media (min-width: 1200px) {
        
    }

    .user-avatar{
        max-width: 150px !important;
        max-height: 150px !important;
    }

    .row {
        margin: 0;
    }

    a.active{
        border-bottom: 3px solid rgba(0, 0, 0, 0.3) !important; /* make sure active link style won't get overwrote when hove */
        color: rgba(0, 0, 0, 0.7) !important; 
    }
    
    a.dashboard-nav-item:hover{
        border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    }


</style>



<div class="nav-container border-bottom d-flex flex-column" style="height: 30vw; min-height: 160px;">
    <div class="row h-75 d-flex">
        <div class="col-12 col-md-2" style="height: 0%;"></div>
        <div class="col-12 col-md-10" style="margin:auto 0 0 0; padding: 0 25px;">
            <div class="row nav-title-container d-flex flex-row">
                <div class="d-flex user-avatar-container" style="margin-right: 30px;">
                    <img class="user-avatar" src="{{ profile.user_avatar.url }}" style="border-radius: 50%; height: 15vw; width: 15vw; margin: 0 auto 0 0 ; min-width: 55px; min-height: 55px;">
                </div>
                <div class="d-flex user-name-container" style="margin-right:auto">
                    <div class="user-name" style="margin: auto auto auto 0;">
                        <h1 style="margin: auto 0 0 0; font-size: clamp(24px, 3vw, 36px); margin-bottom: 5px;">@{{user.username}}</h1>
                        <h3 style="font-weight: 300; color: #8C8C8C; font-size: clamp(16px, 2vw, 24px)">Personal settings</h3>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="row h-25" style="padding: 0 10px; margin-top: 20px;">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-10 d-flex">
            <nav class="navbar navbar-expand navbar-light w-100" style="padding: 0; margin-top: auto;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link dashboard-nav-item mr-1 {% if active_nav == 'public_profile' %} active {% endif %}" href="{% url 'user_settings' profile.slug %}" style="font-size: 0.9rem; border-bottom: 3px solid transparent;">Public profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dashboard-nav-item mr-1 {% if active_nav == 'account' %} active {% endif %}" href="{% url 'user_settings_account' profile.slug %}" style="font-size: 0.9rem; border-bottom: 3px solid transparent;">Account</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        
    </div>
</div>

{% endblock %}
