{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    
    {% comment %}
        Extra small devices (portrait phones, less than 576px)
        No media query for `xs` since this is the default in Bootstrap
    {% endcomment %}

    @media (min-width: 576px) {}
    @media (min-width: 768px) {
        .content-sub-container {
            min-width: 728px !important;
        }
        .sources-container {
            min-width: 100% !important;
        }
        .container-with-border{
            width: clamp( 300px, 50vw, 700px);
        }
    }
    @media (min-width: 840px) {
        .content-sub-container {
            min-width: 800px !important;
        }
    }


    @media (min-width: 992px) {
        .content-sub-container {
            min-width: 952px !important;
        }
    }
    @media (min-width: 1200px) {
        .content-sub-container {
            min-width: 1160px !important;
        }
    }

    .Project-title{
        font-size: 1.5rem;
        font-family: 'Noto Sans TC', sans-serif;
    }

    .dashboard-Projects-container-badges{
        border: #BFB9B8; 
        border-style: dashed; 
        border-width: 1px; 
        border-radius: 3px;
        padding: 2px 6px;
        font-size: 13px;
    }

    .sources-container{
        border: #BFB9B8; 
        border-radius: 5px; 
        border-style: solid; 
        height: 100%;
        border-width: 1px;
        padding: 10px 0px;
    }

</style>
<div class="container-fluid" style="padding:0px;">
    {% include 'dashboard_navbar.html' %}
    <div class="content_container d-flex" >
        <div class="row m-auto content-sub-container">
            {% include 'dashboard_sidebar.html' %}
            <div class="col-12 col-md-8 container-with-border"  style="padding: 0 25px;">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-8">
                        <h3>Sources</h3>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row" >
                    {% for domain in domains %}
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="sources-container" style="min-width: 90vw;">
                            <div class="row" style="padding: 0px 0px 0px 20px">
                                <div class="col">
                                    <div style="font-size: 18px; font-weight: 700;">{{domain.name}}</div>
                                </div>
                            </div>
                            <div class="row" style="padding: 0px 0px 10px 20px">
                                <div class="col">
                                    <a href="{{domain.main_site}}" target="_blank" rel="noopener noreferrer" style="font-size: 12px;">{{domain.main_site}}</a>
                                </div>
                            </div>
                            <div class="row" style="padding: 0px 0px 0px 20px">
                                <div class="col">
                                    {% load index %}
                                    <div style="font-size: 28px; font-weight: 900;">{{ count_article_list|indexforloop:forloop.counter0 }}</div>
                                </div>
                            </div>
                        </div>


                        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}