{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    {% include 'user_settings_navbar.html' %}
    <div class="row">
        <div class="col" style="max-width: 60%; margin: 2rem auto 0 auto;">
            <form method="post" novalidate>
                {% csrf_token %}
                {% if form.errors %}
                    {% if form.errors|length == 1 %}
                    <p class="text-danger">{% trans "Please correct the error below." %}</p>
                    {% else %}
                    <p class="text-danger">{% trans "Please correct the errors below." %}</p>
                    {% endif %}
                    {% for error in form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    {% for field in form %}  
                    <div class="form-row">
                        <div class="form-group col">
                            {% if field.errors %}
                                {% render_field field class+='form-control border-danger' placeholder=field.label  %}
                                {% for error in field.errors %}
                                <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            {% else %}
                                {% if field.label == 'Username' or field.label == '使用者名稱' %}
                                    <h5 style="font-size: 1.5rem; ">{% trans "Username" %}</h5>
                                    {% render_field field class+='form-control'%}
                                {% elif field.label == 'Bio' or field.label == '自我介紹' %}
                                {% elif field.label == 'Avatar' or field.label == '大頭貼' %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}