{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<style>

    {% comment %}
        Extra small devices (portrait phones, less than 576px)
        No media query for `xs` since this is the default in Bootstrap
    {% endcomment %}

    @media (min-width: 576px) {}
    @media (min-width: 768px) {}
    @media (min-width: 992px) {
        .dashboard-recentProject-container{
            margin-top: 10px!important;
            margin-bottom: 10px !important;
            margin-right: 20px !important;
            
        }
    }
    @media (min-width: 1200px) {}

    .dashboard-overview-headline{
        font-size: 1.1rem;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 700;
    }
    .dashboard-recentProject-container{
        border: #BFB9B8; 
        border-radius: 5px; 
        border-style: solid; 
        height: 6.5rem; 
        border-width: 1px;
        margin-bottom: 15px;
    }

    .dashboard-recentProject-title{
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 1.1rem;
        color: #393E40;
        font-weight: 500;

    }

    .dashboard-recentProject-container-badges{
        border: #BFB9B8; 
        border-style: dashed; 
        border-width: 1px; 
        border-radius: 3px;
        padding: 2px 6px;
        font-size: 0.5rem;
    }

    .activities-timeline-date{
        font-size: 12px;
        background-color: white;
        width: 4.5rem;
        height: 1.5rem;
    
    }
        
    @media (max-width: 400px){
        .punchline {
            font-size: 2.6rem;
            font-weight: 500;
        }
    }




</style>
<div class="container-fluid">
    {% include 'dashboard_navbar.html' %}
    <div class="content_container">
        <div class="row">
            {% include 'dashboard_sidebar.html' %}
            <div class="col-12 col-md-8">
                <div class="row recent-project-container" style="margin-top: 2rem; padding: 0 15px;">
                    <div class="col-8">
                        <h3 class="dashboard-overview-headline">Recent Projects</h3>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row d-flex flex-row" style="padding: 10px 30px;">
                {% for project in projects %} 
                    <div class="col-12 col-lg-5 col-lg-offset-1 dashboard-recentProject-container">
                        <div class="row" style="margin: 20px 0 0 5px">
                            <h3 class="dashboard-recentProject-title"><a href="{% url 'project:project_dashboard' project.slug %}"> {{ project.name }} </a></h3>
                        </div>
                    </div>
                {% endfor %}
                
                </div>
                
            </div>
        </div>
        
    </div>
</div>
{% endblock %}