asgiref==3.2.10
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
courlan==0.2.3
cssselect==1.1.0
Django==3.1
django-debug-toolbar==3.1.1
django-jsonfield==1.4.0
django-mysql==3.7.1
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
djangorestframework-api-key==2.0.0
gunicorn==20.0.4
htmldate==0.7.2
idna==2.10
jusText==2.2.0
lxml==4.6.2
mysqlclient==1.4.6
Pillow==7.2.0
pyodbc==4.0.30
python-dateutil==2.8.1
pytz==2020.1
readability-lxml==0.8.1
requests==2.24.0
requests-file==1.5.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
tldextract==2.2.3
trafilatura==0.6.1
Unidecode==1.1.1
urllib3==1.25.10
