{% extends 'registration/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 4rem"></div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="text-center">
                {% include 'brand.html' %}
                <p>
                    <h3 style="text-align: center;">{% trans 'Set a new password' %}</h3>
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="height: 2rem"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="width: 21.6rem">
            {% if validlink %}
            <p>{% trans 'Enter your new password.' %}</p>
            <form method="post" novalidate>
                {% csrf_token %}
                {% if form.errors|length == 1 %}
                <p class="text-danger">{% trans "Please correct the error below." %}</p>
                {% elif form.errors|length > 1 %}
                <p class="text-danger">{% trans "Please correct the errors below." %}</p>
                {% endif %}
                {% for error in form.non_field_errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %}
                {% for field in form %}
                <div class="form-row">
                    <div class="form-group col">
                        {% if not field.errors %}
                        {% render_field field class+='form-control' placeholder=field.label %}
                        {% else %}
                        {% render_field field class+='form-control border-danger' placeholder=field.label %}
                        {% for error in field.errors %}
                        <small class="text-danger d-block">{{ error }}</small>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="form-row">
                    <div class="form-group col">
                        <button type="submit" class="btn btn-dark btn-block">{% trans 'Change password' %}</button>
                    </div>
                </div>
            </form>
            {% else %}
            <p>{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>
            {% endif %}
        </div>
    </div>
    <div class="row" style="height: 8rem"></div>
</div>
{% endblock %}