{% extends 'registration/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 4rem"></div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="text-center">
                {% include 'brand.html' %}
                <p>
                    <h1 style="text-align: center;">{% trans 'Done' %}</h1>
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="height: 2rem"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="padding-left: 1.5rem;padding-right: 1.5rem; width: 24rem;">
            <h1 style="text-align: center;">{% trans 'Done' %}</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto" style="width: 21.6rem">
            <p>{% trans 'Your password has been set.' %}</p>
            <a class="btn btn-block btn-dark" href="{% url 'login' %}">{% trans 'Login' %}</a>
            <a class="btn btn-block border-dark text-secondary" href="{% url 'index' %}">{% trans 'Back to the homepage.' %}</a>
        </div>
    </div>
</div>
{% endblock %}