{% extends 'registration/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 4rem"></div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="text-center">
                {% include 'brand.html' %}
                <p>
                    <h3 style="text-align: center;">{% trans 'Check your inbox.' %}</h3>
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="height: 2rem"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="width: 21.6rem">
            <p>{% trans "We've emailed you instructions." %}{% trans 'You may check them for following setting.' %}</p>
            <a class="btn btn-block btn-dark" href="{% url 'login' %}">{% trans 'Login' %}</a>
            <a class="btn btn-block border-dark text-secondary" href="{% url 'password_reset' %}">{% trans "I didn't recieve it." %}</a>
            <a class="btn btn-block border-dark text-secondary" href="{% url 'index' %}">{% trans 'Back to the homepage.' %}</a>
        </div>
    </div>
    <div class="row" style="height: 8rem"></div>
</div>
{% endblock %}