{% extends 'registration/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 4rem"></div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <img src="{% static 'img/header_no_text.png' %}" class="img-fluid" alt="Responsive image" width="175px" height="175px">
            <h1 style="text-align: center; font-family: 'Roboto', sans-serif; font-weight: 900;">Hololink</h1>
        </div>
    </div>
    <div class="row" style="height: 2rem"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="width: 21.6rem">
            <p>{% trans "Your accounct verification failed. Please resend verification email" %}</p>
            <a class="btn btn-block btn-dark" href="#">{% trans 'Resend verification email' %}</a>
        </div>
    </div>
</div>
{% endblock %}