{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    .custom-radio-list{
        list-style-type: none;
        padding:0;
    }
</style>

<div class="container-fluid" style="min-height: 95%;">
    <div class="row" style="height: 2rem"></div>
    <div class="row justify-content-center">
        <div class="col-auto"  style="width:50rem;  padding-left: 30px;">
            <h1 style="font-size: 2rem;">Create new Galaxy</h1>
            <p>{% trans "Galaxy will store all the articles you upload from our browser extension." %}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto"  style="width:50rem;  padding-left: 30px;">
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto"  style="width:50rem;  padding-left: 30px;">
            <form method="post" novalidate>
                {% csrf_token %}
                {% if form.errors|length == 1 %}
                <p class="text-danger">{% trans "Please correct the error below." %}</p>
                {% elif form.errors|length > 1 %}
                <p class="text-danger">{% trans "Please correct the errors below." %}</p>
                {% endif %}
                {% for error in form.non_field_errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %}
                
                {% for field in form %}
                <div class="form-row">
                    <div class="form-group col">
                        {% if field.label == 'Galaxy Name' or field.label == '星系名' %}
                            <h5 style="font-size: 1.5rem; margin-top: 0.5rem; margin-bottom: 1rem;">{% trans "Galaxy name" %}</h5>
                            {% if not field.errors %}
                                {% render_field field class+='form-control' %}
                            {% else %}
                                {% render_field field class+='form-control border-danger' %}
                                {% for error in field.errors %}  
                                <small class="text-danger d-block">{{ error }}</small>
                                {% endfor %}
                            {% endif %} 
                        {% elif field.label == 'Galaxy Description' or field.label == '星系介紹' %}
                            <h5 style="font-size: 1.5rem; margin-top: 0.5rem; margin-bottom: 1rem;">{% trans "Galaxy Description" %}</h5>
                            {% if not field.errors %}
                                {% render_field field class+='form-control' %}
                            {% else %}
                                {% render_field field class+='form-control border-danger' %}
                                {% for error in field.errors %}  
                                <small class="text-danger d-block">{{ error }}</small>
                                {% endfor %}
                            {% endif %} 
                        {% elif field.label == 'Galaxy Visibility' or field.label == '星系可視度' %}
                            <hr style="margin-bottom: 2rem;">
                            {% for radio in form.galaxy_visibility %}
                            <div class="row" style="margin-top: 1rem;">
                                <div class="col">
                                    {% if radio.choice_label == 'Private' %}
                                        <label for="{{ radio.id_for_label }}" style="width: 100%;">
                                            <div class="row d-flex flex-row">
                                                <div class="col-1" style="margin: auto;">
                                                    {{ radio.tag }}
                                                </div>
                                                <div class="col-1" style="margin:auto;">
                                                    <img src="{% static 'img/key.svg' %}" width="30" height="30">
                                                </div>
                                                <div class="col-10 d-flex flex-column">
                                                    <p style="font-size: 1rem; margin-bottom: 0;">{% trans 'Private' %}</p>
                                                    <p style="font-size: 10px; margin-bottom: 0;">{% trans 'You choose who can see and edit this galaxy.' %}</p>
                                                </div>
                                            </div>
                                        </label>
                                    {% elif radio.choice_label == 'Public' %}
                                        <label for="{{ radio.id_for_label }}" style="width: 100%;">
                                            <div class="row d-flex flex-row">
                                                <div class="col-1" style="margin: auto;">
                                                    {{ radio.tag }}
                                                </div>
                                                <div class="col-1" style="margin:auto;">
                                                    <img src="{% static 'img/globe.svg' %}" width="30" height="30">
                                                </div>
                                                <div class="col-10 d-flex flex-column">
                                                    <p style="font-size: 1rem; margin-bottom: 0;">{% trans 'Public' %}</p>
                                                    <p style="font-size: 10px; margin-bottom: 0;">{% trans 'Anyone on the internet can enter this galaxy, but you choose who can create/edit/delete articles.' %}</p>
                                                </div>
                                            </div>
                                        </label>
                                    {% endif %}    
                                </div>
                                
                            </div>
                            {% endfor %}

                        {% for error in field.errors %}
                        <small class="text-danger d-block">{{ error }}</small>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                
                <hr style="margin-bottom: 2rem;">
                <div class="form-row">
                    <div class="form-group col">
                        <button type="submit" class="btn btn-primary btn-block" style="width:20%">{% trans 'Create Galaxy' %}</button>
                    </div>
                </div>
                
        </div>
    </div>
    
        
    </div>
</div>
{% endblock %}