{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    .custom-radio-list{
        list-style-type: none;
        padding:0;
    }
</style>

<div class="container-fluid" style="min-height: 95%;">
    <div class="row" style="height: 4rem"></div>
    <div class="row justify-content-center">
        <div class="col-auto"  style="width:50rem;  padding-left: 30px;">
            <h1 style="font-size: 2rem;">Create new Galaxy</h1>
            <p>{% trans "Galaxy will store all the articles you upload from our browser extension." %}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto"  style="width:50rem;  padding-left: 30px;">
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto"  style="width:50rem;  padding-left: 30px;">
            <form method="post" novalidate>
                {% csrf_token %}
                {% if form.errors|length == 1 %}
                <p class="text-danger">{% trans "Please correct the error below." %}</p>
                {% elif form.errors|length > 1 %}
                <p class="text-danger">{% trans "Please correct the errors below." %}</p>
                {% endif %}
                {% for error in form.non_field_errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %}
                
                {% for field in form %}
                <div class="form-row">
                    <div class="form-group col">
                        {{ field.label_tag }}
                        <br>
                        {% if not field.errors %}
                        {% render_field field class+='form-control-md' %}
                        {% else %}
                        {% render_field field class+='form-control border-danger' %}
                        {% for error in field.errors %}
                        <small class="text-danger d-block">{{ error }}</small>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                
                <hr style="margin-bottom: 4rem;">
                <div class="form-row">
                    <div class="form-group col">
                        <button type="submit" class="btn btn-primary btn-block" style="width:20%">{% trans 'Create Galaxy' %}</button>
                    </div>
                </div>
                
        </div>
    </div>
    
        
    </div>
</div>
{% endblock %}