{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<style>
    @media (min-width: 440px) {

    }

    @media (min-width: 576px) {

    }
    @media (min-width: 768px) {

    }
    @media (min-width: 992px) {

    }
    @media (min-width: 1200px) {}

    .collapse-force-title:hover {
        text-decoration: none;
        color: black;
        opacity: 1;
        background-color: rgba(61, 61, 61, 0.1);
    }

    .collapse-force-title {
        font-size: 16px;
        font-weight: 700;
        color: black;
    }

</style>


<div class="container-fluid d-flex" style="width: 90%;">
    <div class="row flex-grow-1" style="margin: auto">
        <div class="slider-container col-12 col-sm-2 d-flex flex-column" style="overflow:auto;">
            <div class="row force_alpha">
                <div class="col-12">
                    <p><label>alpha</label> Simulation activity</p>
                    <div class="alpha_bar" onclick="updateAll();"><div id="alpha_value"></div></div>
                </div>     
            </div>
            <a class="collapse-force-title" data-toggle="collapse" href="#center_force" role="button" aria-expanded="false" aria-controls="center_force">Center force</a>
            <div class="row collapse multi-collapse" id="center_force">
                <div class="col-12">
                    <p><label>center</label> Shifts the view, so the graph is centered at this location.</p>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>x</p>
                        <output id="center_XSliderOutput">.5</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="1" value=".5" step="0.01" oninput="d3.select('#center_XSliderOutput').text(value); forceProperties.center.x=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>y</p>
                        <output id="center_YSliderOutput">.5</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="1" value=".5" step="0.01" oninput="d3.select('#center_YSliderOutput').text(value); forceProperties.center.y=value; updateAll();">
                    </div>
                </div>
            </div>
            <div style="margin: 15px 0; border-bottom: 1px solid #BFB9B8;"></div>
            <a class="collapse-force-title" data-toggle="collapse" href="#charge_force" role="button" aria-expanded="false" aria-controls="charge_force">Charge force</a>
            <div class="row collapse multi-collapse" id="charge_force">
                <div class="col-12">
                    <p><label><input type="checkbox" checked onchange="forceProperties.charge.enabled = this.checked; updateAll();"> charge</label> Attracts (+) or repels (-) nodes to/from each other.</p>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>strength</p>
                        <output id="charge_StrengthSliderOutput">-30</output>
                    </div>
                    <div>
                        <input type="range" min="-200" max="50" value="-30" step=".1" oninput="d3.select('#charge_StrengthSliderOutput').text(value); forceProperties.charge.strength=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>distanceMin</p>
                        <output id="charge_distanceMinSliderOutput">1</output>
                    </div>
                    <div>
                        <input type="range" min="0" max="50" value="1" step=".1" oninput="d3.select('#charge_distanceMinSliderOutput').text(value); forceProperties.charge.distanceMin=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>distanceMax</p>
                        <output id="charge_distanceMaxSliderOutput">2000</output>
                    </div>
                    <div>
                        <input type="range" min="0" max="2000" value="2000" step=".1" oninput="d3.select('#charge_distanceMaxSliderOutput').text(value); forceProperties.charge.distanceMax=value; updateAll();">
                    </div>
                </div>
            </div>
            <div style="margin: 15px 0; border-bottom: 1px solid #BFB9B8;"></div>
            <a class="collapse-force-title" data-toggle="collapse" href="#collide_force" role="button" aria-expanded="false" aria-controls="collide_force">Collide force</a>
            <div class="row collapse multi-collapse" id="collide_force">
                <div class="col-12">
                    <p><label><input type="checkbox" checked onchange="forceProperties.collide.enabled = this.checked; updateAll();"> collide</label> Prevents nodes from overlapping</p>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>strength</p>
                        <output id="collide_StrengthSliderOutput">.7</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="2" value=".7" step=".1" oninput="d3.select('#collide_StrengthSliderOutput').text(value); forceProperties.collide.strength=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>radius</p>
                        <output id="collide_radiusSliderOutput">5</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="100" value="5" step="1" oninput="d3.select('#collide_radiusSliderOutput').text(value); forceProperties.collide.radius=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>iterations</p>
                        <output id="collide_iterationsSliderOutput">1</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="1" max="10" value="1" step="1" oninput="d3.select('#collide_iterationsSliderOutput').text(value); forceProperties.collide.iterations=value; updateAll();">
                    </div>
                </div>
            </div>
            <div style="margin: 15px 0; border-bottom: 1px solid #BFB9B8;"></div>
            <a class="collapse-force-title" data-toggle="collapse" href="#x_force" role="button" aria-expanded="false" aria-controls="x_force">X force</a>
            <div class="row collapse multi-collapse" id="x_force">
                <div class="col-12">
                    <p><label><input type="checkbox" onchange="forceProperties.forceX.enabled = this.checked; updateAll();"> forceX</label> Acts like gravity. Pulls all points towards an X location.</p>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>strength</p>
                        <output id="forceX_StrengthSliderOutput">.1</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="1" value=".1" step="0.01" oninput="d3.select('#forceX_StrengthSliderOutput').text(value); forceProperties.forceX.strength=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>x</p>
                        <output id="forceX_XSliderOutput">.5</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="1" value=".5" step="0.01" oninput="d3.select('#forceX_XSliderOutput').text(value); forceProperties.forceX.x=value; updateAll();">
                    </div>
                </div>
            </div>
            <div style="margin: 15px 0; border-bottom: 1px solid #BFB9B8;"></div>
            <a class="collapse-force-title" data-toggle="collapse" href="#y_force" role="button" aria-expanded="false" aria-controls="y_force">Y force</a>
            <div class="row collapse multi-collapse" id="y_force">
                <div class="col-12">
                    <p><label><input type="checkbox" onchange="forceProperties.forceY.enabled = this.checked; updateAll();"> forceY</label> Acts like gravity. Pulls all points towards a Y location.</p>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>strength</p>
                        <output id="forceY_StrengthSliderOutput">.1</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="1" value=".1" step="0.01" oninput="d3.select('#forceY_StrengthSliderOutput').text(value); forceProperties.forceY.strength=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>y</p>
                        <output id="forceY_YSliderOutput">.5</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="1" value=".5" step="0.01" oninput="d3.select('#forceY_YSliderOutput').text(value); forceProperties.forceY.y=value; updateAll();">
                    </div>
                </div>
            </div>
            <div style="margin: 15px 0; border-bottom: 1px solid #BFB9B8;"></div>
            <a class="collapse-force-title" data-toggle="collapse" href="#link_force" role="button" aria-expanded="false" aria-controls="link_force">Link force</a>
            <div class="row collapse multi-collapse" id="link_force">
                <div class="col-12">
                    <p><label><input type="checkbox" checked onchange="forceProperties.link.enabled = this.checked; updateAll();"> link</label> Sets link length</p>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>distance</p>
                        <output id="link_DistanceSliderOutput">30</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="100" value="30" step="1" oninput="d3.select('#link_DistanceSliderOutput').text(value); forceProperties.link.distance=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>strength</p>
                        <output id="link_StrengthSliderOutput">30</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="1" value="0.5" step="0.01" oninput="d3.select('#link_StrengthSliderOutput').text(value); forceProperties.link.strength=value; updateAll();">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-10">
            <div class="row h-100" style="border: 1px solid #BFB9B8; border-radius: 6px; margin: 0;">
                <div class="col" style="padding: 0;">
                    <svg width="100%" height="100%"></svg>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block extrajs %}
<script>
    var svg = d3.select("svg"),
        width = +svg.node().getBoundingClientRect().width,
        height = +svg.node().getBoundingClientRect().height;

    // for zoom 
    var g = svg.append("g")
        .attr("class", "everything");

    // svg objects
    var link, node;
    // the data - an object with nodes and links
    var graph;

    // load the data
    d3.json('{% url "project:deliver_D3" projectnameslug=project.slug usernameslug=user.profile.slug%}', function(error, data) {
        if (error) throw error;
        graph = data.graph;
        console.log(graph)
        initializeDisplay();
        initializeSimulation();
    });



    //////////// FORCE SIMULATION //////////// 

    // force simulator
    var simulation = d3.forceSimulation();

    // set up the simulation and event to update locations after each tick
    function initializeSimulation() {
        simulation.nodes(graph.nodes);
        initializeForces();
        simulation.on("tick", ticked);
    }

    // values for all forces
    forceProperties = {
        center: {
            x: 0.5,
            y: 0.5,
        },
        charge: {
            enabled: true,
            strength: -30,
            distanceMin: 1,
            distanceMax: 2000
        },
        collide: {
            enabled: true,
            strength: .7,
            iterations: 1,
            radius: 5
        },
        forceX: {
            enabled: false,
            strength: .1,
            x: .5
        },
        forceY: {
            enabled: false,
            strength: .1,
            y: .5
        },
        link: {
            enabled: true,
            distance: 30,
            iterations: 1,
            strength: 0.3,
        }
    }

    // add forces to the simulation
    function initializeForces() {
        // add forces and associate each with a name
        simulation
            .force("link", d3.forceLink())
            .force("charge", d3.forceManyBody())
            .force("collide", d3.forceCollide())
            .force("center", d3.forceCenter())
            .force("forceX", d3.forceX())
            .force("forceY", d3.forceY());
        // apply properties to each of the forces
        updateForces();

    }
    
    // apply new force properties
    function updateForces() {
        // get each force by name and update the properties
        simulation.force("center")
            .x(width * forceProperties.center.x)
            .y(height * forceProperties.center.y);
        simulation.force("charge")
            .strength(forceProperties.charge.strength * forceProperties.charge.enabled)
            .distanceMin(forceProperties.charge.distanceMin)
            .distanceMax(forceProperties.charge.distanceMax);
        simulation.force("collide")
            .strength(forceProperties.collide.strength * forceProperties.collide.enabled)
            .radius(forceProperties.collide.radius)
            .iterations(forceProperties.collide.iterations);
        simulation.force("forceX")
            .strength(forceProperties.forceX.strength * forceProperties.forceX.enabled)
            .x(width * forceProperties.forceX.x);
        simulation.force("forceY")
            .strength(forceProperties.forceY.strength * forceProperties.forceY.enabled)
            .y(height * forceProperties.forceY.y);
        simulation.force("link")
            .id(function(d) {return d.id;})
            .distance(forceProperties.link.distance)
            .strength(forceProperties.link.strength)
            .iterations(forceProperties.link.iterations)
            .links(forceProperties.link.enabled ? graph.links : []);

        // updates ignored until this is run
        // restarts the simulation (important if simulation has already slowed down)
        simulation.alpha(1).restart();
    }

    //////////// DISPLAY ////////////

    // generate the svg objects and force simulation
    function initializeDisplay() {
        console.log(graph)
        console.log(width)
        // set the data and properties of link lines
        link = g.append("g")
                .attr("class", "links")
            .selectAll("line")
                .data(graph.links)
                .enter()
                .append("line");

        // set the data and properties of node circles
        node = g.append("g")
                .attr("class", "nodes")
            .selectAll("circle")
                .data(graph.nodes)
                .enter()
                .append("circle")

        // node tooltip
        node.append("title")
            .text(function(d) { return d.id; });
        // visualize the graph
        

        var zoom_handler = d3.zoom()
            .on("zoom", zoom_actions);

        zoom_handler(svg);

        var drag_handler = d3.drag()
            .on("start", drag_start)
            .on("drag", drag_drag)
            .on("end", drag_end);	

        drag_handler(node);

        updateDisplay();
    }

    // update the display based on the forces (but not positions)
    function updateDisplay() {
        node
            .attr("r", forceProperties.collide.radius)
            .attr("stroke", forceProperties.charge.strength > 0 ? "blue" : "red")
            .attr("stroke-width", forceProperties.charge.enabled==false ? 0 : Math.abs(forceProperties.charge.strength)/15);

        link
            .attr("stroke-width", forceProperties.link.enabled ? 1 : .5)
            .attr("opacity", forceProperties.link.enabled ? 1 : 0)
            .style("stroke", 'grey');
    }

    // update the display positions after each simulation tick
    function ticked() {
        link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
        d3.select('#alpha_value').style('flex-basis', (simulation.alpha()*100) + '%');
    }


    //DRAG FUNCTION
    function drag_start(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    //make sure you can't drag the circle outside the box
    function drag_drag(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function drag_end(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = d.x; //sticky node
        d.fy = d.y; //sticky node
    }

    //ZOOM FUNCTION
    function zoom_actions(){
        g.attr("transform", d3.event.transform)
    }

    // update size-related forces
    d3.select(window).on("resize", function(){
        width = +svg.node().getBoundingClientRect().width;
        height = +svg.node().getBoundingClientRect().height;
        updateForces();
    });

    // convenience function to update everything (run after UI input)
    function updateAll() {
        updateForces();
        updateDisplay();
    }

</script>

{% endblock %}