{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid d-flex" style="width: 90%;">
    <div class="row flex-grow-1" style="margin: auto;">
        <div class="col-12 col-sm-2" style="overflow:scroll; max-height: 600px;">
            <div class="row force_alpha">
                <div class="col-12">
                    <p><label>alpha</label> Simulation activity</p>
                    <div class="alpha_bar" onclick="updateAll();"><div id="alpha_value"></div></div>
                </div>     
            </div>
            <div class="row force">
                <div class="col-12">
                    <p><label><input type="checkbox" checked onchange="forceProperties.charge.enabled = this.checked; updateAll();"> charge</label> Attracts (+) or repels (-) nodes to/from each other.</p>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>strength</p>
                        <output id="charge_StrengthSliderOutput">-30</output>
                    </div>
                    <div>
                        <input type="range" min="-200" max="50" value="-30" step=".1" oninput="d3.select('#charge_StrengthSliderOutput').text(value); forceProperties.charge.strength=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>distanceMin</p>
                        <output id="charge_distanceMinSliderOutput">1</output>
                    </div>
                    <div>
                        <input type="range" min="0" max="50" value="1" step=".1" oninput="d3.select('#charge_distanceMinSliderOutput').text(value); forceProperties.charge.distanceMin=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>distanceMax</p>
                        <output id="charge_distanceMaxSliderOutput">2000</output>
                    </div>
                    <div>
                        <input type="range" min="0" max="2000" value="2000" step=".1" oninput="d3.select('#charge_distanceMaxSliderOutput').text(value); forceProperties.charge.distanceMax=value; updateAll();">
                    </div>
                </div>
            </div>
            <div class="row force">
                <div class="col-12">
                    <p><label><input type="checkbox" checked onchange="forceProperties.collide.enabled = this.checked; updateAll();"> collide</label> Prevents nodes from overlapping</p>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>strength</p>
                        <output id="collide_StrengthSliderOutput">.7</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="2" value=".7" step=".1" oninput="d3.select('#collide_StrengthSliderOutput').text(value); forceProperties.collide.strength=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>radius</p>
                        <output id="collide_radiusSliderOutput">5</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="100" value="5" step="1" oninput="d3.select('#collide_radiusSliderOutput').text(value); forceProperties.collide.radius=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>iterations</p>
                        <output id="collide_iterationsSliderOutput">1</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="1" max="10" value="1" step="1" oninput="d3.select('#collide_iterationsSliderOutput').text(value); forceProperties.collide.iterations=value; updateAll();">
                    </div>
                </div>
            </div>
            <div class="row force">
                <div class="col-12">

                </div>
            </div>
            <div class="row force">
                <div class="col-12">
                    <p><label><input type="checkbox" onchange="forceProperties.forceX.enabled = this.checked; updateAll();"> forceX</label> Acts like gravity. Pulls all points towards an X location.</p>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>strength</p>
                        <output id="forceX_StrengthSliderOutput">.1</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="1" value=".1" step="0.01" oninput="d3.select('#forceX_StrengthSliderOutput').text(value); forceProperties.forceX.strength=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>x</p>
                        <output id="forceX_XSliderOutput">.5</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="1" value=".5" step="0.01" oninput="d3.select('#forceX_XSliderOutput').text(value); forceProperties.forceX.x=value; updateAll();">
                    </div>
                </div>
            </div>
            <div class="row force">
                <div class="col-12">
                    <p><label><input type="checkbox" onchange="forceProperties.forceY.enabled = this.checked; updateAll();"> forceY</label> Acts like gravity. Pulls all points towards a Y location.</p>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>strength</p>
                        <output id="forceY_StrengthSliderOutput">.1</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="1" value=".1" step="0.01" oninput="d3.select('#forceY_StrengthSliderOutput').text(value); forceProperties.forceY.strength=value; updateAll();">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>y</p>
                        <output id="forceY_YSliderOutput">.5</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="1" value=".5" step="0.01" oninput="d3.select('#forceY_YSliderOutput').text(value); forceProperties.forceY.y=value; updateAll();">
                    </div>
                </div>
            </div>
            <div class="row force">
                <div class="col-12">
                    <p><label><input type="checkbox" checked onchange="forceProperties.link.enabled = this.checked; updateAll();"> link</label> Sets link length</p>
                </div>
                <div class="col-12">
                    <div class="d-flex">
                        <p>distance</p>
                        <output id="link_DistanceSliderOutput">30</output>
                    </div>
                    <div class="d-flex">
                        <input type="range" min="0" max="100" value="30" step="1" oninput="d3.select('#link_DistanceSliderOutput').text(value); forceProperties.link.distance=value; updateAll();">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-10">
            <div class="row h-100" style="border: 1px solid #BFB9B8; border-radius: 6px; margin: 0;">
                <div class="col" style="padding: 0;">
                    <svg width="100%" height="100%"></svg>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}