{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}


{% block extracss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css" 
        integrity="sha512-3q8fi8M0VS+X/3n64Ndpp6Bit7oXSiyCnzmlx6IDBLGlY5euFySyJ46RUlqIVs0DPCGOypqP8IRk/EyPvU28mQ==" crossorigin="anonymous" />
<style>


    @media (min-width: 440px) {

    }

    @media (min-width: 576px) {

    }
    @media (min-width: 768px) {

    }
    @media (min-width: 992px) {

    }
    @media (min-width: 1200px) {}

    .collapse-controller-title:hover {
        text-decoration: none;
        color: black;
        opacity: 1;
        background-color: rgba(61, 61, 61, 0.1);
    }

    .collapse-controller-title {
        font-size: 18px;
        font-weight: 700;
        color: black;
        padding-left: 15px;
    }

    .collapse-controller-container {
        padding: 0 15px;
        width: 100%;
    }

    .force-instruction {
        font-size: 14px;
        margin-bottom: 15px;    
    }

    .force-checkbox {
        margin: 2.5px 5px 0 0;
    }

    .filter-instruction {
        font-size: 14px;
        margin-bottom: 5px;    
    }

    .filter-checkbox {
        margin: 2.5px 5px 0 0;
    }
 
    .slider-selection {
        background: lightgray;
    }

    .slider-handle {
        background-color: grey;
        background-image: none;
        height: 15px;
        width: 15px;
        top: 2px;
    }

    .silder-instruction{
        font-size: 16px;
        font-weight: 700;
    }

    .slider-track {
        height: 8px !important;
    }

    .collapse-controller-element{
        padding-right: 0;
    }

</style>


{% endblock %}

{% block content %}


<div class="container-fluid d-flex flex-column" style="padding:0">
    {% include 'project_dashboard_navbar_2.html' %}
    <div class="row flex-grow-1" style="margin: 20px auto; width: 90%;">
        <div class="row flex-grow-1" style="margin: auto; overflow: auto;">
            <div class="slider-container col-12 col-sm-2">
                <div class="d-flex flex-column" style="border: 1px solid #BFB9B8; border-radius: 6px; margin: 0; overflow:auto; height: 600px;">
                    <a class="collapse-controller-title" data-toggle="collapse" href="#center_force" role="button" aria-expanded="false" aria-controls="center_force" style="margin-top: 15px;">Center force</a>
                    <div class="row collapse multi-collapse collapse-controller-container" id="center_force">
                        <div class="col-12">
                            <div class="force-instruction">{% trans 'Shifts the view, so the graph is centered at this location.' %}</div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">x</div>
                            </div>
                            <div class="d-flex">
                                <input id="center_XSliderOutput">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">y</div>
                            </div>
                            <div class="d-flex">
                                <input id="center_YSliderOutput">
                            </div>
                        </div>
                    </div>
                    <div style="margin: 15px 0; border-bottom: 1px solid #BFB9B8;"></div>
                    <a class="collapse-controller-title" data-toggle="collapse" href="#charge_force" role="button" aria-expanded="false" aria-controls="charge_force">Charge force</a>
                    <div class="row collapse multi-collapse collapse-controller-container" id="charge_force">
                        <div class="col-12 d-flex">
                            <input class="force-checkbox" type="checkbox" checked onchange="forceProperties.charge.enabled = this.checked; updateAll();">
                            <div class="force-instruction">Attracts (+) or repels (-) nodes to/from each other.</div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">strength</div>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <input id="charge_StrengthSliderOutput">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">distanceMin</div>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <input id="charge_distanceMinSliderOutput">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">distanceMax</div>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <input id="charge_distanceMaxSliderOutput">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 15px 0; border-bottom: 1px solid #BFB9B8;"></div>
                    <a class="collapse-controller-title" data-toggle="collapse" href="#collide_force" role="button" aria-expanded="false" aria-controls="collide_force">Collide force</a>
                    <div class="row collapse multi-collapse collapse-controller-container" id="collide_force">
                        <div class="col-12 d-flex">
                            <input class="force-checkbox" type="checkbox" checked onchange="forceProperties.collide.enabled = this.checked; updateAll();">
                            <div class="force-instruction">Prevents nodes from overlapping</div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">strength</div>
                            </div>
                            <div class="d-flex">
                                <input id="collide_StrengthSliderOutput">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">radius</div>
                            </div>
                            <div class="d-flex">
                                <input id="collide_radiusSliderOutput">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">iterations</div>
                            </div>
                            <div class="d-flex">
                                <input id="collide_iterationsSliderOutput">
                            </div>
                        </div>
                    </div>
                    <div style="margin: 15px 0; border-bottom: 1px solid #BFB9B8;"></div>
                    <a class="collapse-controller-title" data-toggle="collapse" href="#x_force" role="button" aria-expanded="false" aria-controls="x_force">X force</a>
                    <div class="row collapse multi-collapse collapse-controller-container" id="x_force">
                        <div class="col-12 d-flex">
                            <input class="force-checkbox" type="checkbox" onchange="forceProperties.forceX.enabled = this.checked; updateAll();">
                            <div class="force-instruction">Acts like gravity. Pulls all points towards an X location.</div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">strength</div>
                            </div>
                            <div class="d-flex">
                                <input id="forceX_StrengthSliderOutput">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">x</div>
                            </div>
                            <div class="d-flex">
                                <input id="forceX_XSliderOutput">
                            </div>
                        </div>
                    </div>
                    <div style="margin: 15px 0; border-bottom: 1px solid #BFB9B8;"></div>
                    <a class="collapse-controller-title" data-toggle="collapse" href="#y_force" role="button" aria-expanded="false" aria-controls="y_force">Y force</a>
                    <div class="row collapse multi-collapse collapse-controller-container" id="y_force">
                        <div class="col-12 d-flex">
                            <input class="force-checkbox" type="checkbox" onchange="forceProperties.forceY.enabled = this.checked; updateAll();">
                            <div class="force-instruction">Acts like gravity. Pulls all points towards a Y location.</div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">strength</div>
                            </div>
                            <div class="d-flex">
                                <input id="forceY_StrengthSliderOutput">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">y</div>
                            </div>
                            <div class="d-flex">
                                <input id="forceY_YSliderOutput">
                            </div>
                        </div>
                    </div>
                    <div style="margin: 15px 0; border-bottom: 1px solid #BFB9B8;"></div>
                    <a class="collapse-controller-title" data-toggle="collapse" href="#link_force" role="button" aria-expanded="false" aria-controls="link_force">Link force</a>
                    <div class="row collapse multi-collapse collapse-controller-container" id="link_force">
                        <div class="col-12 d-flex">
                            <input class="force-checkbox" type="checkbox" checked onchange="forceProperties.link.enabled = this.checked; updateAll();">
                            <div class="force-instruction">Sets link length and strength</div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">distance</div>
                            </div>
                            <div class="d-flex">
                                <input id="link_DistanceSliderOutput">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="silder-instruction">strength</div>
                            </div>
                            <div class="d-flex">
                                <input id="link_StrengthSliderOutput">
                            </div>
                        </div>
                    </div>
                    <div style="margin: 15px 0; border-bottom: 1px solid #BFB9B8;"></div>
                </div>
                
            </div>
            <div class="col-12 col-sm-8">
                <div class="row h-100" style="border: 1px solid #BFB9B8; border-radius: 6px; margin: 0;">
                    <div class="col" style="padding: 0;">
                        <svg width="100%" height="100%"></svg>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <div class="d-flex flex-column" style="border: 1px solid #BFB9B8; border-radius: 6px; margin: 0; overflow:auto; height: 600px;">
                    <a class="collapse-controller-title" data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="filter" style="margin-top: 15px;">Filter</a>
                    <div class="row collapse multi-collapse collapse-controller-container" id="filter">
                        <div class="col-12 d-flex">
                            <input class="filter-checkbox" type="checkbox" value="stellar" checked>
                            <div class="filter-instruction">
                                Filter out stellar keywords
                            </div>
                        </div>
                    </div>
                    <div style="margin: 15px 0; border-bottom: 1px solid #BFB9B8;"></div>
                    <a class="collapse-controller-title" data-toggle="collapse" href="#display" role="button" aria-expanded="false" aria-controls="filter">Display</a>
                    <div class="row collapse multi-collapse collapse-controller-container" id="display">

                    </div>
                    <div style="margin: 15px 0; border-bottom: 1px solid #BFB9B8;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" 
    integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous">
</script>

<script>

    $('#center_XSliderOutput').slider({
        min:0,
        max:1,
        value:0.5,
        step:0.01,
    });

    $('#center_XSliderOutput').on("change", function(event){
        forceProperties.center.x=event.value.newValue; 
        updateAll();
    });

    $('#center_YSliderOutput').slider({
        min:0,
        max:1,
        value:0.5,
        step:0.01,
    });

    $('#center_YSliderOutput').on("change", function(event){
        forceProperties.center.y=event.value.newValue; 
        updateAll();
    });

    $('#charge_StrengthSliderOutput').slider({
        min:-200,
        max:50,
        value:-30,
        step:1,
    });

    $('#charge_StrengthSliderOutput').on("change", function(event){
        forceProperties.charge.strength=event.value.newValue; 
        updateAll();
    });

    $('#charge_distanceMinSliderOutput').slider({
        min:0,
        max:50,
        value:1,
        step:1,
    });

    $('#charge_distanceMinSliderOutput').on("change", function(event){
        forceProperties.charge.distanceMin=event.value.newValue; 
        updateAll();
    });

    $('#charge_distanceMaxSliderOutput').slider({
        min:0,
        max:2000,
        value:2000,
        step:1,
    });

    $('#charge_distanceMaxSliderOutput').on("change", function(event){
        forceProperties.charge.distanceMax=event.value.newValue; 
        updateAll();
    });

    $('#collide_StrengthSliderOutput').slider({
        min:0,
        max:2,
        value:0.7,
        step:0.05,
    });

    $('#collide_StrengthSliderOutput').on("change", function(event){
        forceProperties.collide.strength=event.value.newValue; 
        updateAll();
    });

    $('#collide_radiusSliderOutput').slider({
        min:0,
        max:100,
        value:5,
        step:1,
    });

    $('#collide_radiusSliderOutput').on("change", function(event){
        forceProperties.collide.radius=event.value.newValue; 
        updateAll();
    });

    $('#collide_iterationsSliderOutput').slider({
        min:1,
        max:10,
        value:1,
        step:1,
    });

    $('#collide_iterationsSliderOutput').on("change", function(event){
        forceProperties.collide.iterations=event.value.newValue; 
        updateAll();
    });

    $('#forceX_StrengthSliderOutput').slider({
        min:0,
        max:1,
        value:0.1,
        step:0.01,
    });

    $('#forceX_StrengthSliderOutput').on("change", function(event){
        forceProperties.forceX.strength=event.value.newValue; 
        updateAll();
    });

    $('#forceX_XSliderOutput').slider({
        min:0,
        max:1,
        value:0.5,
        step:0.01,
    });

    $('#forceX_XSliderOutput').on("change", function(event){
        forceProperties.forceX.x=event.value.newValue; 
        updateAll();
    });

    $('#forceY_StrengthSliderOutput').slider({
        min:0,
        max:1,
        value:0.1,
        step:0.01,
    });

    $('#forceY_StrengthSliderOutput').on("change", function(event){
        forceProperties.forceY.strength=event.value.newValue; 
        updateAll();
    });

    $('#forceY_YSliderOutput').slider({
        min:0,
        max:1,
        value:0.5,
        step:0.01,
    });

    $('#forceY_YSliderOutput').on("change", function(event){
        forceProperties.forceY.y=event.value.newValue; 
        updateAll();
    });

    $('#link_DistanceSliderOutput').slider({
        min:0,
        max:100,
        value:50,
        step:1,
    });

    $('#link_DistanceSliderOutput').on("change", function(event){
        forceProperties.link.distance=event.value.newValue; 
        updateAll();
    });

    $('#link_StrengthSliderOutput').slider({
        min:0,
        max:1,
        value:0.5,
        step:0.01,
    });

    $('#link_StrengthSliderOutput').on("change", function(event){
        forceProperties.link.strength=event.value.newValue; 
        updateAll();
    });

</script>

<script>
    var svg = d3.select("svg"),
        width = +svg.node().getBoundingClientRect().width,
        height = +svg.node().getBoundingClientRect().height;

    // for zoom 
    var g = svg.append("g")
        .attr("class", "everything");

    var simulation;

    // svg objects
    var link = g.append("g")
                .attr("class", "links") 
                .selectAll('.line')
    var node = g.append("g")
                .attr("class", "nodes")
                .selectAll('g')


    // the data - an object with nodes and links
    var graph, store, graph2;

    //limit font-size when scaling
    var max_text_size = 18
        nominal_text_size = 8;

    var linkedByIndex = {};

    const simulationDurationInMs = 10000; // 2 seconds

    var startTime = Date.now();
    var endTime = startTime + simulationDurationInMs;

    // filter keyword type
    var filterKeywordLevel = []

    var nodeByID = {};
    /*
        load data -> initializeSimulation()
                                            simulation.nodes()
                                            simulation.on('tick')
                                            -> initializeForces() -> updateForces() -> simulation.restart()
                  -> initialDisplay() -> updateDisplay()                                       
    */

    loadData(filtered=true)


    // load the data
    function loadData(filtered){
        d3.json('{% url "project:deliver_D3" projectnameslug=project.slug usernameslug=user.profile.slug%}', function(error, data) {
            if (error) throw error;
            
            graph = data.graph;

            // recreate id reference to cope with duplicate node different keyword_type issue
            if (graph.links[0].targetLevel) {
                graph.nodes.forEach(function(n) {
                    n.id = n.id + "-" + n.level
                    nodeByID[n.id+"-"+n.level] = n;
                });

                graph.links.forEach(function(l){
                    l.source = l.source + "-" + l.sourceLevel
                    l.target = l.target + "-" + l.targetLevel
                });
            }

            console.log('initial', graph)
            //initializeOrUpdateDisplay(graph);
            initialSimulation();
            initializeForces();
            startSimulation();
            updateForces();
            

            // create a index to allow constant-time lookup with good performance
            // This must put after simulation, after that we can access the d3 calculated info
            
            graph.links.forEach(d => {
                linkedByIndex[`${d.source.index},${d.target.index}`] = 1;
            });

            

            /*alternative way to cope with adding new parameter in d3 graph data

            graph.links.forEach(function(l) {
                if (!l.sourceLevel){
                    l['sourceLevel'] = nodeByID[l.source.id].level.toString();
                }

                if (!l.targetLevel){
                    l['targetLevel'] = nodeByID[l.target.id].level.toString();
                } 
            });
            */

            // copy graph data for further usage
            store = $.extend(true, {}, graph);
            
            if (filtered){
                filterKeywordLevel.push('stellar');
                filter()
            }
            initializeOrUpdateDisplay(graph);
            reheatSimulation();

            console.log(graph,store)
        });
    }


    ////////////  UI INTERACTION ////////////
    $('.filter-checkbox').on("click", function(){
        if (this.checked){
            filterKeywordLevel.push('stellar');
            filter()
            initializeOrUpdateDisplay(graph);
            reheatSimulation();
        } else {
            /*We use temporary method to cope with lack of understanding of D3*/
            filterKeywordLevel.pop()
            loadData(filtered=false)
        }
    });

    function resetData(){
        graph.nodes = []
        graph.links = []
    }

    //////////// FORCE SIMULATION //////////// 

    // force simulator
    function initialSimulation(){
        var firstSimulation = d3.forceSimulation()
            .on("tick", ticked);
        resetSimulation(firstSimulation);
    }

    function initialFilteredSimulation(){
        var filteredSimulation = d3.forceSimulation()
            .on("tick", ticked);
        resetSimulation(filteredSimulation);
    }

    function reheatSimulation(){
        simulation
            .alphaDecay(0.01)
            .alpha(0.8)
            .restart()
    }
   
    function startSimulation(){
        // set up the simulation and event to update locations after each tick
        simulation
            .nodes(graph.nodes);
        
        simulation.force("link")
            .id(function(d) {return d.id;})
            .links(graph.links)

        simulation
            .alphaDecay(0.01)
            .alpha(0.8)
            .restart()
    }

    function resetSimulation(newSim){
        if (simulation){
            simulation.stop();
        }

        if (newSim != undefined) {
            simulation = newSim;
        }
    }

    // values for all forces
    forceProperties = {
        center: {
            x: 0.5,
            y: 0.5,
        },
        charge: {
            enabled: true,
            strength: -30,
            distanceMin: 1,
            distanceMax: 2000
        },
        collide: {
            enabled: true,
            strength: .7,
            iterations: 1,
            radius: 5
        },
        forceX: {
            enabled: false,
            strength: .1,
            x: .5
        },
        forceY: {
            enabled: false,
            strength: .1,
            y: .5
        },
        link: {
            enabled: true,
            distance: 50,
            iterations: 1,
            strength: 0.3,
        }
    }

    // other properties
    otherProperties = {
        zoom_threshhold_of_displaying_label:1
    }

    // add forces to the simulation
    function initializeForces() {
        // add forces and associate each with a name
        simulation
            .force("link", d3.forceLink())
            .force("charge", d3.forceManyBody())
            .force("collide", d3.forceCollide())
            .force("center", d3.forceCenter())
            .force("forceX", d3.forceX())
            .force("forceY", d3.forceY());
        // apply properties to each of the force
    }

    // apply new force properties
    function updateForces() {
        // get each force by name and update the properties
        simulation.force("center")
            .x(width * forceProperties.center.x)
            .y(height * forceProperties.center.y);
        simulation.force("charge")
            .strength(forceProperties.charge.strength * forceProperties.charge.enabled)
            .distanceMin(forceProperties.charge.distanceMin)
            .distanceMax(forceProperties.charge.distanceMax);
        simulation.force("collide")
            .strength(forceProperties.collide.strength * forceProperties.collide.enabled)
            .radius(forceProperties.collide.radius)
            .iterations(forceProperties.collide.iterations);
        simulation.force("forceX")
            .strength(forceProperties.forceX.strength * forceProperties.forceX.enabled)
            .x(width * forceProperties.forceX.x);
        simulation.force("forceY")
            .strength(forceProperties.forceY.strength * forceProperties.forceY.enabled)
            .y(height * forceProperties.forceY.y);
        simulation.force("link")
            .id(function(d) {return d.id;})
            .distance(forceProperties.link.distance)
            .strength(forceProperties.link.strength)
            .iterations(forceProperties.link.iterations)
            .links(forceProperties.link.enabled ? graph.links : []);

    }

    //////////// DISPLAY ////////////

    // generate the svg objects and force simulation
    function initializeDisplay() {
        // set the data and properties of link lines
        link 
            .data(graph.links)
            .enter()
            .append("line")   

        // set the data and properties of node circles
        node
            .data(graph.nodes)
            .enter().append("g")
            

        node
            .append("circle")
            .attr('connection', function(d){
                return d.connection
            })
            .attr('r', getNodeSize)
            .on('mouseover.fade', fade(0.2))
            .on('mouseout.fade', fade(1));
        
        node
            .append("text")
            .text(node => node.id)
            .attr('dy', '.5rem')
            .style('font-weight', '500')
            .style('font-size', nominal_text_size + "px")
            .style('opacity', 0)
            .attr('text-anchor', 'middle')
            .on('mouseover.fade', fade(0.2))
            .on('mouseout.fade', fade(1));
            //.style('fill', 'black')

        // node tooltip
        node.append("title")
            .text(function(d) { return d.id});
        // visualize the graph
        

        var zoom_handler = d3.zoom()
            .on("zoom", zoom_actions)
            .scaleExtent([0.1, 10]); //set zoom in and out limit

        zoom_handler(svg);

        var drag_handler = d3.drag()
            .on("start", drag_start)
            .on("drag", drag_drag)
            .on("end", drag_end);	

        drag_handler(node);

        updateDisplay();
    }

    // update the display based on the forces (but not positions)
    function updateDisplay() {
        link
            .attr("stroke-width", forceProperties.link.enabled ? 0.5 : .2)
            .attr("opacity", forceProperties.link.enabled ? 1 : 0)
            .style("stroke", 'grey');
    }

    // Filter function
    function filter(){
        store.nodes.forEach(function(n){
            if (!filterKeywordLevel.includes(n.level) && n.filtered){
                n.filtered = false
                graph.nodes.push($.extend(true, {}, n));
            } else if (filterKeywordLevel.includes(n.level) && !n.filtered ){
                n.filtered = true;
                if (n.id == "美"){
                    console.log(n)
                }
                
                graph.nodes.forEach(function(d, i) {
                    if (n.id === d.id) {
                        graph.nodes.splice(i, 1);
                    }
                });
            }
        });

        //	add and remove links from data based on availability of nodes
	    store.links.forEach(function(l) {
		    if (!(filterKeywordLevel.includes(l.source.level) || filterKeywordLevel.includes(l.target.level)) && l.filtered) {
			    l.filtered = false;
			    graph.links.push($.extend(true, {}, l));
		    } else if ((filterKeywordLevel.includes(l.source.level) || filterKeywordLevel.includes(l.target.level)) && !l.filtered) {
			    l.filtered = true;
			    graph.links.forEach(function(d, i) {
				    if (l.index === d.index) {
					    graph.links.splice(i, 1);
				    }
			    });
		    }
	    });
    }

    // update filter condition to node and link
    function initializeOrUpdateDisplay(targetGraph){
        //	UPDATE
        node = node.data(targetGraph.nodes, function(d) { return d.id;})
        //	EXIT
	    node.exit().transition()
            .attr("r", 0)
            .remove();
        //	ENTER
	    var newNode = node
            .enter()
            .append("g")
        
        newNode
            .append("circle")
            .attr('connection', function(d){
                return d.connection
            })
            .attr('r', getNodeSize)
            .on('mouseover.fade', fade(0.2))
            .on('mouseout.fade', fade(1));
        
        newNode
            .append("text")
            .text(node => node.id)
            .attr('dy', '.5rem')
            .style('font-weight', '500')
            .style('font-size', nominal_text_size + "px")
            .style('opacity', 0)
            .attr('text-anchor', 'middle')
            .on('mouseover.fade', fade(0.2))
            .on('mouseout.fade', fade(1));
    
        newNode
            .append("title")
            .text(function(d) { return d.id; });

        //	ENTER + UPDATE
	    node = node.merge(newNode);

        //	UPDATE second function is essential
        link = link.data(targetGraph.links, function(d) { return d.id;})

        // Keep the exiting links connected to the moving remaining nodes.
	    link.exit().transition()
            .attr("stroke-opacity", 0)
            .remove();

        var newLink = link
            .enter()
            .append('line')
        
        newLink.append("title")
            .text(function(d){ 
                return d.index + " : " + d.source.id + " -> " + d.target.id; }) 
        
        link = link.merge(newLink);

        var zoom_handler = d3.zoom()
            .on("zoom", zoom_actions)
            .scaleExtent([0.1, 10]); //set zoom in and out limit

        zoom_handler(svg);

        var drag_handler = d3.drag()
            .on("start", drag_start)
            .on("drag", drag_drag)
            .on("end", drag_end);	

        drag_handler(node);


        updateDisplay();
    }

    // update the display positions after each simulation tick
    function ticked() {
        //if (Date.now() < endTime) {
            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node
                // we use transform is because we group circle and text together in g, and transform is g's position 
                .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; }) 
                .attr("r", getNodeSize)

            /*
            node
                .attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; })
                .attr("r", getNodeSize)
                //.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
            */

            //text
                //.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
        //} else {
        //    simulation.stop();
        //}
        
        
    }


    //DRAG FUNCTION
    function drag_start(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    //make sure you can't drag the circle outside the box
    function drag_drag(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function drag_end(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = d.x; //sticky node
        d.fy = d.y; //sticky node
        startTime = Date.now();
        endTime = startTime + simulationDurationInMs;
    }

    //ZOOM FUNCTION
    function zoom_actions(){
        g.attr("transform", d3.event.transform)
        transform = d3.event.transform

        if (transform.k < otherProperties.zoom_threshhold_of_displaying_label){
            svg.selectAll('text').style("opacity",0)
        } else if ( otherProperties.zoom_threshhold_of_displaying_label += 0.5 > transform.k >= otherProperties.zoom_threshhold_of_displaying_label) {
            svg.selectAll('text').style("opacity",transform.k - otherProperties.zoom_threshhold_of_displaying_label)
        } else {
            svg.selectAll('text').style("opacity",1)
        }

        var text_size = nominal_text_size
        if (nominal_text_size*transform.k > max_text_size){
            text_size = max_text_size/transform.k
        }
        svg.selectAll('text').style('font-size', text_size)

    }

    function getNodeSize(node){
        return 2
    }

    function getTextWrapperXSpace(node){
        return 50
    }

    function getTextWrapperYSpace(node){
        return 20
    }

    // update size-related forces
    d3.select(window).on("resize", function(){
        width = +svg.node().getBoundingClientRect().width;
        height = +svg.node().getBoundingClientRect().height;
        updateForces();
    });

    //Implement FADE IN and OUT EFFECT ------------

    function fade(opacity){
            return d => {
                //判斷 node 是否相連，若沒有則套用 opacity
                node
                    .transition()
                    .duration(300)
                    .ease(d3.easeLinear)
                    .style('opacity', function (o) { 
                        //console.log(d,o)
                        return isConnected(d, o) ? 1 : opacity 
                    });
                //判斷連結的 source 或 target 是否為 d 若沒有則套用 opacity
                link
                    .transition()
                    .duration(300)
                    .ease(d3.easeLinear)
                    .style('stroke-opacity', o => (o.source === d || o.target === d ? 1 : opacity));
                //When mouseout reset opacity
                if(opacity === 1){
                    node
                        .transition()
                        .duration(300)
                        .ease(d3.easeLinear)
                        .style('opacity', 1)
                    link
                        .transition()
                        .duration(300)
                        .ease(d3.easeLinear)
                        .style('stroke-opacity', 0.5)
                }
            };
        }

    function isConnected(a, b) {
        return linkedByIndex[`${a.index},${b.index}`] || linkedByIndex[`${b.index},${a.index}`] || a.index === b.index;
    }

    // convenience function to update everything (run after UI input)
    function updateAll() {
        startTime = Date.now();
        endTime = startTime + simulationDurationInMs;
        reheatSimulation()
        updateForces();
        updateDisplay();
        
    }
</script>

{% endblock %}