{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>

    @media (min-width: 440px) {
        .articles-sub-container{
            height: 140px !important;
        }
    }

    @media (min-width: 576px) {
        .articles-sub-container{
            height: 110px !important;
        }
    }
    @media (min-width: 768px) {

        a.mainnavbar-link-vision{
            padding: 0.6rem 0.5rem 0.6rem 1.5rem !important;
        }
        a.mainnavbar-link-explore{
            padding: 0.6rem 0.5rem 0.6rem 0.5rem !important;
        }
    }
    @media (min-width: 992px) {
        .sub-container{
            width: 45vw;
        }
        .articles-sub-container{
            height: 125px !important;
        }
        .articles-container{
            margin: 0 !important;
        }
    }
    @media (min-width: 1200px) {}

    .dashboard-articles-container-badges{
        border: #BFB9B8; 
        border-style: dashed; 
        border-width: 1px; 
        border-radius: 3px;
        padding: 2px 6px;
        font-size: 13px;
    }

    .table{
        border:1px solid #BFB9B8;
        border-radius: 5px;
        border-spacing: 0px;
        border-collapse: separate;
    }

</style>
<div class="container-fluid d-flex flex-column" style="padding:0">
    {% include 'project_dashboard_navbar_2.html' %}
    <div class="row flex-grow-1" style="margin: 20px auto;">
        <div class="col-12 col-lg-6" >
            <div class="row h-100 sub-container" style="border: 1px solid #BFB9B8; border-radius: 6px; margin: 0;">
                <div class=col>
                    <svg width="100%" height="100%"></svg>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 articles-container" style="margin: 20px 0 0 0;">
            <div class="row h-100 sub-container" style="border: 1px solid #BFB9B8; border-radius: 6px; margin: 0; padding: 10px 0px 10px 0px; overflow:scroll;">
                {% if not articles %}
                        <div class="col">
                            <p>{% trans "You don't have any article to show. " %}<!--<a class="text-primary"
                                    href="{% url 'article:add' %}">{% trans 'Add one now.'%}</a>!--></p>
                        </div>
                    {% else %}
                        {% for article in articles %}
                        <div class="col-12 articles-sub-container" style="border-bottom:#BFB9B8 1px solid; height: 200px">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col">
                                            <p class="article-title" style="font-weight: bold;font-size: 18px; margin-bottom: 0;"><a href="{% url 'article:article_detail' article.slug %}" style="color: #222626;"> {{ article.name }} </a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 d-flex">
                                    <form method="post" novalidate style="margin: 0 0 0 auto;">
                                        {% csrf_token %}
                                        <button type="submit" name="action" value="deleteArticle_delete_{{ article.name }}" id="delete_article" class="btn btn-outline-danger d-flex justify-content-center" style="margin: 0 0 0 auto; width: 30px; height: 30px;" >
                                            <img src="{% static 'img/trashcan.svg' %}" style="margin: auto;">
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a target="_blank" rel="noopener noreferrer" href="{{ article.from_url }}" style="font-size: 10px; color: gray;">{{ article.from_url|truncatechars:60 }}</a>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 1rem;">
                                <div class="col-4 d-flex">
                                    <div class="article_created_at" style="font-size: 10px; color: gray; margin: auto 0">
                                        {{ article.created_at|date:"Y/m/d" }} - {{ article.created_at|time:"H:i" }}
                                    </div>
                                </div>
                                {% load index %}
                                <div class="col-8 d-flex">
                                    <p style="margin: 0 0 0 auto; font-size: clamp(12px, 2vw, 16px);">
                                        <span class="d-inline-block mr-2 dashboard-articles-container-badges" style=" font-size: clamp(12px, 2vw, 14px);">
                                            <img src="{% static 'img/basestone.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px; margin-bottom: 4px;">
                                            <span>basestone -</span>
                                            <span style="color: #2e1760;">{{count_article_basestone|indexforloop:forloop.counter0}}</span>
                                        </span>
                                        <span class="d-inline-block mr-2 dashboard-articles-container-badges" style=" font-size: clamp(12px, 2vw, 14px);">
                                            <img src="{% static 'img/stellar.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px; margin-bottom: 4px;">
                                            <span>stellar -</span>
                                            <span style="color: #2e1760;">{{count_article_stellar|indexforloop:forloop.counter0}}</span>
                                        </span>
                                    </p>
                                </div>
                            </div>

                        </div>
                                           
                        {% endfor %}

                        
                    {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extrajs %}
<script>

    //First step: prepare svg and add encompassing group-g for the zoom 
    var svg = d3.select("svg"),
        width = $("svg").width()
        height = $("svg").height();
    
    var g = svg.append("g")
        .attr("class", "everything");

    var biggestNode_article = 0
    var biggestNode_keyword = 0
    var amount_of_keywords = 0
    var amount_of_articles = 0
    

    //Second step: set up simulation and force
    var simulation = d3.forceSimulation()
        .force("charge_force", d3.forceManyBody().strength(-300))
        .force("x", d3.forceX(width / 2))
        .force("y", d3.forceY(height / 2))
        //.force("center_force", d3.forceCenter(width / 2, height / 2))
        .force("link", d3.forceLink()
            .id(function(d){return d.id})
            .distance(100))
        .force('Radial_force', d3.forceRadial(getNodeOrbit, width/2, height/2)
            .strength(1)
        )
        .force(
            "collision",
            d3
                .forceCollide()
                .radius(function(d){
                    radius = getNodeSize(d)
                    return radius + 2
                })
                .strength(1)
        );
        

    //Third step: LOAD DATA and create nodes/links element

    d3.json('{% url "project:deliver_D3" projectnameslug=project.slug usernameslug=profile.slug%}', function(error,data){
        if (error) throw error;

        var graph = data.graph
        amount_of_keywords = data.amount_of_keywords
        amount_of_articles = 6
        console.log(parseInt(amount_of_articles/3))

        calculateBiggestNum()
        
        var linkElements = g.append("g")
                .attr("class", "links")
            .selectAll("line") //select svg-line element and use D3.data method
                .data(graph.links)
                .enter()
                
                .append("line")
                    .attr("stroke-width", 1)
                    .style("stroke", getLinkColor)
                    .style('stroke-opacity', 0.5); 

        var nodeElements = g.append("g")
                .attr("class", "nodes")         
            .selectAll("circle")
                .data(graph.nodes)
                .enter()
                .filter(function(d){
                    if (d.level == 'article'){
                        return d
                    } else {
                        if (d.level == 'basestone'){
                            return d
                        } else if (d.level == 'stellar'){
                            return d.connection >= (amount_of_articles - 1)
                        }
                    }
                })
                .append("circle")
                .attr("r", getNodeSize)
                .attr("fill", getNodeColor)
                .attr('connection', function(d){
                    return d.connection
                })
                .style("stroke", getLinkColor)
            .on('mouseover.fade', fade(0.2))
            .on('mouseout.fade', fade(1));

        var textContainer = g.append("g")
            .attr("class", "text")
                .selectAll("foreignObject")
                .data(graph.nodes)                   
                .enter()
                .filter(function(d){
                    if (d.level == 'article'){
                        return d
                    } else {
                        if (d.level == 'basestone'){
                            return d.connection >= 2
                        } else if (d.level == 'stellar'){
                            return d.connection >= (amount_of_articles - 1)
                        }
                    }
                })
                    .append('foreignObject')
                    .style('width', getTextWrapperSpace)
                    .style('height', getTextWrapperSpace)
                .on('mouseover.fade', fade(0.2))
                .on('mouseout.fade', fade(1));
        
        var textElements = textContainer.append('xhtml:text')
            .text(node => node.id)
            .style('display', 'flex')
            .style('width', '100%')
            .style('height', '100%')
            .style('justify-content', 'center')
            .style('align-items','center')
            .style('font-family', "'Noto Sans TC', sans-serif")
            .style('font-weight', getTextFontWeight)
            .style('font-size', getTextFontSize)
            .style('fill', 'black')

        

        //Fifth step: add drag capability
        var drag_handler = d3.drag()
            .on("start", drag_start)
            .on("drag", drag_drag)
            .on("end", drag_end);	

        drag_handler(nodeElements);
            
        function tickActions(){
            linkElements
                .attr("x1", function(d) {
                    if (d.target.level == 'basestone'){
                        return d.source.x 
                    } else if (d.target.level == 'stellar' & d.target.connection >= (amount_of_articles - 1)){
                        return d.source.x 
                    }})

                //})
                .attr("y1", function(d) { 
                    if (d.target.level == 'basestone'){
                        return d.source.y 
                    } else if (d.target.level == 'stellar' & d.target.connection >= (amount_of_articles - 1)){
                        return d.source.y 
                    }})

                //})
                .attr("x2", function(d) { 
                    if (d.target.level == 'basestone'){
                        return d.target.x
                    } else if (d.target.level == 'stellar' & d.target.connection >= (amount_of_articles - 1)){
                        return d.target.x 
                    }})
                //})
                .attr("y2", function(d) { 
                    if (d.target.level == 'basestone'){
                        return d.target.y
                    } else if (d.target.level == 'stellar' & d.target.connection >= (amount_of_articles - 1)){
                        return d.target.y 
                    }})
                //})

            nodeElements
                .attr("cx", function(d) { 
                    if (d.level == 'article'){
                        return d.x
                    } else {
                        if (d.level == 'basestone'){
                            return d.x
                        } else if (d.level == 'stellar' & d.connection >= (amount_of_articles - 1)){
                            return d.x
                        }
                    }})
                .attr("cy", function(d) { 
                    if (d.level == 'article'){
                        return d.y
                    } else {
                        if (d.level == 'basestone'){
                            return d.y
                        } else if (d.level == 'stellar' & d.connection >= (amount_of_articles - 1)){
                            return d.y
                        }
                    }});

            textContainer
                .attr("x", function(d) { 
                    if (d.level == 'article'){
                        nodeR = getNodeSize(d);
                        x = d.x - nodeR/Math.sqrt(2)
                        return x 
                    } else {
                        if (d.level == 'basestone' & d.connection >= 2){
                            nodeR = getNodeSize(d);
                            x = d.x - nodeR/Math.sqrt(2)
                            return x 
                        } else if (d.level == 'stellar' & d.connection >= (amount_of_articles - 1)){
                            nodeR = getNodeSize(d);
                            x = d.x - nodeR/Math.sqrt(2)
                            return x 
                        }
                    }
                    
                })
                .attr("y", function(d) { 
                    if (d.level == 'article'){
                        nodeR = getNodeSize(d);
                        y = d.y - nodeR/Math.sqrt(2)
                        return y 
                    } else {
                        if (d.level == 'basestone' & d.connection >= 2){
                            nodeR = getNodeSize(d);
                            y = d.y - nodeR/Math.sqrt(2)
                            return y 
                        } else if (d.level == 'stellar' & d.connection >= (amount_of_articles - 1)){
                            nodeR = getNodeSize(d);
                            y = d.y - nodeR/Math.sqrt(2)
                            return y 
                        }
                    }
                });                
        };

        //Implement FADE IN and OUT EFFECT ------------

        function fade(opacity){
            return d => {
                //判斷 node 是否相連，若沒有則套用 opacity
                nodeElements.style('opacity', function (o) { return isConnected(d, o) ? 1 : opacity });
                textContainer.style('opacity', function (o) { return isConnected(d, o) ? 1 : opacity });
                //判斷連結的 source 或 target 是否為 d 若沒有則套用 opacity
                linkElements.style('stroke-opacity', o => (o.source === d || o.target === d ? 1 : opacity));
                //When mouseout reset opacity
                if(opacity === 1){
                    nodeElements.style('opacity', 1)
                    textContainer.style('opacity', 1)
                    linkElements.style('stroke-opacity', 0.5)
                }
            };
        }

        //create a index to allow constant-time lookup with good performance
        const linkedByIndex = {};
        graph.links.forEach(d => {
            linkedByIndex[`${d.source.index},${d.target.index}`] = 1;
        });

        function isConnected(a, b) {
            return linkedByIndex[`${a.index},${b.index}`] || linkedByIndex[`${b.index},${a.index}`] || a.index === b.index;
        }

        //calculate biggest Num
    
        function calculateBiggestNum(){
            graph.nodes.forEach(function(obj){
                if (obj.level == 'article'){
                    totalkeywordNum = parseInt(obj.basestoneNum) + parseInt(obj.stellarNum)
                    if (totalkeywordNum > biggestNode_article){
                        biggestNode_article = totalkeywordNum
                    }
                }
                
            });

            graph.nodes.forEach(function(obj){
                if (obj.level == 'stellar' || obj.level == 'basestone'){
                    if (obj.connection > biggestNode_keyword){
                        biggestNode_keyword = obj.connection
                    }
                }
            });     
        };

        //Set up scale for forceX an Y
        var strengthScale = d3.scalePow()
            .exponent(2)
            .range([0, 0.5])
            .domain([0, d3.max(graph.nodes, function(d) {
                return d.connection;
            })]);

        // Re-define x,y force strength to make bigger node at center
        // And besides that, we make basestone at center and stellar at outer ring
        var XForce = simulation.force("x");
        var YForce = simulation.force("y");

        //Fourth step: activate simulation and tick function
        simulation
            .nodes(graph.nodes)
            //.alphaMin(0.01)
            .alphaDecay(0.05)
            .on("tick", tickActions)

        simulation.force("link")
            .links(graph.links)         

        nodeElements.append("title")
            .text(function(d) { return d.id; });
        
        XForce.strength(function(d){
            if (d.level != 'article'){
                if (d.connection >= 2){
                    return strengthScale(d.connection) + 0.4
                }
                else{
                    return 0
                }
            }
            else {
                return 0
            }
        });

        YForce.strength(function(d){
            if (d.level != 'article'){
                if (d.connection >= 2){
                    return strengthScale(d.connection) + 0.4
                }
                else{
                    return 0
                }
            }
            else{
                return 0
            }
        });
    });

    //Sixth step: add zoom capability
    var zoom_handler = d3.zoom()
        .on("zoom", zoom_actions);

    zoom_handler(svg);

    //FUNCTIONS

    //Set up scale for Text and NERText Dy
    var textDyScale = d3.scalePow()
            .exponent(2)
            .range([0.5, 2])

    function getTextDy(node){
        return '0.45rem'
    }

    function getTextWrapperSpace(node){
        nodeR = getNodeSize(node)
        return nodeR * 0.7 * 2
    }

    function getTextFontSize(node){
        if (node.level == 'article'){
            var interpolator = d3.interpolateNumber(12,18);
            articleTotalKeyword = parseInt(node.stellarNum) + parseInt(node.basestoneNum)
            fontSize = interpolator(articleTotalKeyword/biggestNode_article) + 'px'
            return fontSize
        }
        else {
            if (node.connection > parseInt(amount_of_articles*2/3)){
                var interpolator = d3.interpolateNumber(12,20);
            } else {
                var interpolator = d3.interpolateNumber(8,12);
            }
            return interpolator(node.connection/biggestNode_keyword) + 'px'
        }
        
    }

    function getTextFontWeight(node){
        if (node.level == 'article'){
            totalkeywordNum = parseInt(node.basestoneNum) + parseInt(node.stellarNum)
            if (totalkeywordNum/biggestNode_article > 0.8){
                return 700
            }
            else if (0.8 > totalkeywordNum/biggestNode_article > 0.5){
                return 500
            }   
            else if (totalkeywordNum/biggestNode_article < 0.5){
                return 300
            }
        }
        else {
            if (node.connection/biggestNode_keyword > 0.8){
                return 700
            }
            else if (0.8 > node.connection/biggestNode_keyword > 0.5){
                return 500
            }   
            else if (node.connection/biggestNode_keyword < 0.5){
                return 300
            }
        }
        
    }

    function getNodeOrbit(node){
        if (node.level == 'stellar' || node.level == 'basestone'){
            if (node.connection >= 2){
                return 100
            }
            else {
                return 1000
            }
        }
        else if (node.level == 'article'){
            return 500
        }
    }

    function getNodeSize(d){
        //console.log(d)
        var NodeSizeScaleforTag = d3.scalePow()
            .exponent(2)
            .range([10, 50])
            .domain([0, biggestNode_keyword])
        var interpolatorForArticles = d3.interpolateNumber(20,70);
        var interpolatorForTags = d3.interpolateNumber(2 ,30);
        if (d.level == 'article'){
            totalkeywordNum = parseInt(d.basestoneNum) + parseInt(d.stellarNum)
            return interpolatorForArticles(totalkeywordNum/biggestNode_article)
        }
        else if (d.level == 'stellar'|| d.level == 'basestone'){
            return NodeSizeScaleforTag(d.connection)
        }
    }


    function linkdist(d){
        if (d.countLinksTargetOwn > 1){
            return d.countLinksTargetOwn * 15
        }
        else {
            return 30
        }
    }

    function getLinkColor(node){
        console.log(node)
        return "grey"
    }

    function getNodeColor(node){
        if (node.level == "stellar") {return'#FCA311'}
        else if (node.level == "article") {return '#FFFFFF'}
        else if (node.level == "basestone") {return '#00b4d8'}
    }

    //DRAG FUNCTION
    function drag_start(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    //make sure you can't drag the circle outside the box
    function drag_drag(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function drag_end(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = d.x; //sticky node
        d.fy = d.y; //sticky node
    }

    //ZOOM FUNCTION
    function zoom_actions(){
        g.attr("transform", d3.event.transform)
    }
</script>

{% endblock %}