{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>

    @media (min-width: 440px) {
        .articles-sub-container{
            height: 140px !important;
        }
    }

    @media (min-width: 576px) {
        .articles-sub-container{
            height: 110px !important;
        }
    }
    @media (min-width: 768px) {
        .sub-container{
            height: 60vw !important;
        }
    }
    @media (min-width: 992px) {
        .sub-container{
            width: 45vw;
            height: 600px !important;
        }
        .articles-sub-container{
            height: 125px !important;
        }
        .articles-container{
            margin: 0 !important;
        }
    }
    @media (min-width: 1200px) {}

    .dashboard-articles-container-badges{
        border: #BFB9B8; 
        border-style: dashed; 
        border-width: 1px; 
        border-radius: 3px;
        padding: 2px 6px;
        font-size: 12px;
    }

    .table{
        border:1px solid #BFB9B8;
        border-radius: 5px;
        border-spacing: 0px;
        border-collapse: separate;
    }

</style>
<div class="container-fluid d-flex flex-column" style="padding:0">
    {% include 'project_dashboard_navbar_2.html' %}
    <div class="row flex-grow-1" style="margin: 20px auto;">
        <div class="col-12 col-lg-6">
            <div class="row h-100 sub-container" style="border: 1px solid #BFB9B8; border-radius: 6px; margin: 0;">
                <div class="col" style="padding: 0;">
                    <svg width="100%" height="100%"></svg>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 articles-container" style="margin: 20px 0 0 0;">
            <div class="row sub-container" style="border: 1px solid #BFB9B8; border-radius: 6px; margin: 0; padding: 0px 0px 0px 0px; overflow:auto; height: 100%;">
                {% if not articles %}
                        <div class="col">
                            <p>{% trans "You don't have any article to show. " %}</p>
                        </div>
                    {% else %}
                        {% for article in articles %}
                        <div class="col-12 articles-sub-container" style="border-bottom:#BFB9B8 1px solid; height: 220px; margin-top: 20px; padding-bottom: 20px;">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col">
                                            <p class="article-title" style="font-weight: bold;font-size: 18px; margin-bottom: 0;"><a href="{% url 'article:article_detail' articlenameslug=article.slug usernameslug=profile.slug %}" style="color: #222626;"> {{ article.name }} </a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 d-flex">
                                    <form method="post" novalidate style="margin: 0 0 0 auto;">
                                        {% csrf_token %}
                                        <button type="submit" name="action" value="deleteArticle_delete_{{ article.name }}" id="delete_article" class="btn btn-outline-danger d-flex justify-content-center" style="margin: 0 0 0 auto; width: 30px; height: 30px;" >
                                            <img src="{% static 'img/trashcan.svg' %}" style="margin: auto;">
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a target="_blank" rel="noopener noreferrer" href="{{ article.from_url }}" style="font-size: 10px; color: gray;">{{ article.from_url|truncatechars:60 }}</a>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 1rem;">
                                <div class="col-4 d-flex">
                                    <div class="article_created_at" style="font-size: 10px; color: gray; margin: auto 0">
                                        {{ article.created_at|date:"Y/m/d" }} - {{ article.created_at|time:"H:i" }}
                                    </div>
                                </div>
                                {% load index %}
                                <div class="col-8 d-flex">
                                    <p style="margin: 0 0 0 auto; font-size: clamp(12px, 2vw, 16px);">
                                        <span class="d-inline-block mr-2 dashboard-articles-container-badges">
                                            <img src="{% static 'img/basestone.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px; margin-bottom: 4px;">
                                            <span>basestone -</span>
                                            <span style="color: #2e1760;">{{count_article_basestone|indexforloop:forloop.counter0}}</span>
                                        </span>
                                        <span class="d-inline-block mr-2 dashboard-articles-container-badges">
                                            <img src="{% static 'img/stellar.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px; margin-bottom: 4px;">
                                            <span>stellar -</span>
                                            <span style="color: #2e1760;">{{count_article_stellar|indexforloop:forloop.counter0}}</span>
                                        </span>
                                    </p>
                                </div>
                            </div>

                        </div>
                                           
                        {% endfor %}

                        
                    {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}

<script>
    var svg = d3.select("svg"),
        width = +svg.node().getBoundingClientRect().width,
        height = +svg.node().getBoundingClientRect().height;

    // for zoom 
    var g = svg.append("g")
        .attr("class", "everything");

    var simulation;

    // svg objects
    var link = g.append("g")
                .attr("class", "links") 
                .selectAll('.line')
    var node = g.append("g")
                .attr("class", "nodes")
                .selectAll('g')


    // the data - an object with nodes and links
    var graph, store;

    //limit font-size when scaling
    var max_text_size = 18
        nominal_text_size = 8;

    //limit link stroke-width when scaling
    var max_link_stroke_width = 0.8
        nominal_link_stroke_width = 0.5

    var linked_by_index = {};

    const simulation_duration_in_ms = 5000; // 2 seconds

    var start_time = Date.now();
    var end_time = start_time + simulation_duration_in_ms;

    // filter keyword type
    var filter_by_keyword_level = ['stellar']

    var node_by_id = {};

    var zoom_handler = d3.zoom()
        .on("zoom", zoom_actions)
        .scaleExtent([0.1, 10]); //set zoom in and out limit

    var zoom_level = 1;

    var drag_handler = d3.drag()
        .on("start", drag_start)
        .on("drag", drag_drag)
        .on("end", drag_end);	

    /*
        load data -> initializeSimulation()
                                            simulation.nodes()
                                            simulation.on('tick')
                                            -> initialize_forces() -> update_forces() -> simulation.restart()
                  -> initialDisplay() -> update_display()                                       
    */

    var article_biggest_node_keywords_num = 0
        keyword_biggest_node_connection_num = 0;

    load_data(filtered=true)


    // load the data
    function load_data(filtered){
        d3.json('{% url "project:deliver_D3" projectnameslug=project.slug usernameslug=user.profile.slug%}', function(error, data) {
            if (error) throw error;
            
            graph = data.graph;

            // recreate id reference to cope with duplicate node different keyword_type issue
            if (graph.links[0].target_level) {
                graph.nodes.forEach(function(n) {
                    n.id = n.id + "-" + n.level
                    node_by_id[n.id+"-"+n.level] = n;
                });

                graph.links.forEach(function(l){
                    l.source = l.source + "-" + l.source_level
                    l.target = l.target + "-" + l.target_level
                });
            }

            console.log('initial', graph)
            //initialize_or_update_display(graph);
            initial_simulation();
            initialize_forces();
            start_simulation();
            update_forces();

            // copy graph data for further usage
            store = $.extend(true, {}, graph);
            
            if (filtered){
                filter_by_keyword_level.push('stellar');
                filter()
            }

            calculate_biggest_node(graph=graph)

            // create a index to allow constant-time lookup with good performance
            // This must put after simulation, after that we can access the d3 calculated info
            
            graph.links.forEach(d => {
                linked_by_index[`${d.source.index},${d.target.index}`] = 1;
            });

            initialize_or_update_display(graph);
            update_all();

            start_time = Date.now();
            end_time = start_time + simulation_duration_in_ms;

            activate_tooltip();
        });
    }

    //////////// FORCE SIMULATION //////////// 

    // force simulator
    function initial_simulation(){
        var first_simulation = d3.forceSimulation()
            .on("tick", ticked);
        resetSimulation(first_simulation);
    }

    function reheat_simulation(){
        simulation
            .alphaDecay(0.01)
            .alpha(0.8)
            .restart()
        
        start_time = Date.now();
        end_time = start_time + simulation_duration_in_ms;
    }
   
    function start_simulation(){
        // set up the simulation and event to update locations after each tick
        simulation
            .nodes(graph.nodes);
        
        simulation.force("link")
            .id(function(d) {return d.id;})
            .links(graph.links)

        simulation
            .alphaDecay(0.01)
            .alpha(0.8)
            .restart()
    }

    function resetSimulation(new_sim){
        if (simulation){
            simulation.stop();
        }

        if (new_sim != undefined) {
            simulation = new_sim;
        }
    }

    // values for all forces
    d3_diagram_properties = {
        center_force: {
            x: 0.5,
            y: 0.5,
        },
        charge_force: {
            enabled: true,
            strength: -50,
            distanceMin: 1,
            distanceMax: 2000
        },
        collide_force: {
            enabled: true,
            strength: 1,
            iterations: 1,
            radius: 10
        },
        x_force: {
            enabled: true,
            strength: .2,
            x: .5
        },
        y_force: {
            enabled: true,
            strength: .2,
            y: .5
        },
        link_force: {
            enabled: true,
            distance: 50,
            iterations: 1,
            strength: 0.3,
        },
        radial_force:{
            enabled: true,
            strength:1,
            articles_orbit:300,
            connecting_keywords_orbit:50,
            not_connecting_keywords_orbit:500,
        },
        node_size: 1.5,
        text_fade_threshhold:1
    }


    // add forces to the simulation
    function initialize_forces() {
        // add forces and associate each with a name
        simulation
            .force("link", d3.forceLink())
            .force("charge", d3.forceManyBody())
            .force("collide", d3.forceCollide())
            .force("center", d3.forceCenter())
            .force("x_force", d3.forceX())
            .force("y_force", d3.forceY())
            .force('radial_force', d3.forceRadial());
        // apply properties to each of the force
    }

    // apply new force properties
    function update_forces() {
        // get each force by name and update the properties
        simulation.force("center")
            .x(width * d3_diagram_properties.center_force.x)
            .y(height * d3_diagram_properties.center_force.y);
        simulation.force("charge")
            .strength(d3_diagram_properties.charge_force.strength * d3_diagram_properties.charge_force.enabled)
            .distanceMin(d3_diagram_properties.charge_force.distanceMin)
            .distanceMax(d3_diagram_properties.charge_force.distanceMax);
        simulation.force("collide")
            .strength(d3_diagram_properties.collide_force.strength * d3_diagram_properties.collide_force.enabled)
            .radius(d3_diagram_properties.collide_force.radius)
            .iterations(d3_diagram_properties.collide_force.iterations);
        simulation.force("x_force")
            .strength(d3_diagram_properties.x_force.strength * d3_diagram_properties.x_force.enabled)
            .x(width * d3_diagram_properties.x_force.x);
        simulation.force("y_force")
            .strength(d3_diagram_properties.y_force.strength * d3_diagram_properties.y_force.enabled)
            .y(height * d3_diagram_properties.y_force.y);
        simulation.force("link")
            .id(function(d) {return d.id;})
            .distance(d3_diagram_properties.link_force.distance)
            .strength(d3_diagram_properties.link_force.strength)
            .iterations(d3_diagram_properties.link_force.iterations)
            .links(d3_diagram_properties.link_force.enabled ? graph.links : [])
        simulation.force('radial_force')
            .strength(d3_diagram_properties.radial_force.strength * d3_diagram_properties.radial_force.enabled)
            .x(width * d3_diagram_properties.center_force.x)
            .y(height * d3_diagram_properties.center_force.y)
            .radius(function(node){
                if (node.level == 'stellar' || node.level == 'basestone'){
                    if (node.connection >= 2){
                        return d3_diagram_properties.radial_force.connecting_keywords_orbit
                    }
                    else {
                        return d3_diagram_properties.radial_force.not_connecting_keywords_orbit
                    }
                }
                else if (node.level == 'article'){
                    return d3_diagram_properties.radial_force.articles_orbit
                }
            })

    }

    //////////// DISPLAY ////////////

    // update the display based on the forces (but not positions)
    function update_display() {
        link
            .attr("stroke-width", d3_diagram_properties.link_force.enabled ? 0.5 : .2)
            .attr("opacity", d3_diagram_properties.link_force.enabled ? 1 : 0)
            .style("stroke", 'grey');

        node.selectAll('circle')
            .attr("r", get_node_size);

        node.selectAll('text')
            .attr("dy", get_text_dy)
    }

    // Filter function
    function filter(){
        store.nodes.forEach(function(n){
            if (!filter_by_keyword_level.includes(n.level)){
                if( n.connection == 1){
                    graph.nodes.forEach(function(d, i) {
                        if (n.id === d.id) {
                            graph.nodes.splice(i, 1);
                        }
                    });
                }
            } else if (filter_by_keyword_level.includes(n.level)){
                graph.nodes.forEach(function(d, i) {
                    if (n.id === d.id) {
                        graph.nodes.splice(i, 1);
                    }
                });
            }
        });

        //	add and remove links from data based on availability of nodes
	    store.links.forEach(function(l) {
		    if (!(filter_by_keyword_level.includes(l.source.level) || filter_by_keyword_level.includes(l.target.level))) {
			    if (l.target.connection == 1){
                    graph.links.forEach(function(d, i) {
                        if (l.index === d.index) {
                            graph.links.splice(i, 1);
                        }
                    });
                }
		    } else if ((filter_by_keyword_level.includes(l.source.level) || filter_by_keyword_level.includes(l.target.level))) {
			    graph.links.forEach(function(d, i) {
				    if (l.index === d.index) {
					    graph.links.splice(i, 1);
				    }
			    });
		    }
	    });
    }

    // update filter condition to node and link
    function initialize_or_update_display(targetGraph){
        //	UPDATE
        node = node.data(targetGraph.nodes, function(d) { return d.id;})
        //	EXIT
	    node.exit().transition()
            .attr("r", 0)
            .remove();
        //	ENTER
	    var new_node = node
            .enter()
            .append("g")
        
        new_node
            .append("circle")
            .attr('connection', function(d){
                return d.connection
            })
            .attr('r', get_node_size)
            .attr("fill", get_node_color)
            .on('mouseover.fade', fade(0.2))
            .on('mouseout.fade', fade(1));
        
        new_node
            .append("text")
            .text(node => node.id)
            .attr('dy', get_text_dy)
            .style('font-weight', '500')
            .style('font-size', nominal_text_size + "px")
            .style('opacity', 0)
            .attr('text-anchor', 'middle')
            .on('mouseover.fade', fade(0.2))
            .on('mouseout.fade', fade(1));

        new_node
            //.append("title")
            //.text(function(d) { return d.id; });
            .attr('data-toggle', 'tooltip')
            .attr('data-placement', 'bottom')
            .attr('title', function(node){
                return node.id
            })

        //	ENTER + UPDATE
	    node = node.merge(new_node);

        //	UPDATE second function is essential
        link = link.data(targetGraph.links, function(d) { return d.id;})

        // Keep the exiting links connected to the moving remaining nodes.
	    link.exit().transition()
            .attr("stroke-opacity", 0)
            .remove();

        var new_link = link
            .enter()
            .append('line')
        
        new_link.append("title")
            .text(function(d){ 
                return d.index + " : " + d.source.id + " -> " + d.target.id; }) 
        
        link = link.merge(new_link);

        zoom_handler(svg);
        drag_handler(node);


        update_display();
    }

    // update the display positions after each simulation tick
    function ticked() {
        if (Date.now() < end_time) {
            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node
                // we use transform is because we group circle and text together in g, and transform is g's position 
                .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; }) 
                //.attr("r", get_node_size)
        } else {
            simulation.stop();
        }
    };

    //calculate biggest Num
    
    function calculate_biggest_node(graph){
            graph.nodes.forEach(function(obj){
                if (obj.level == 'article'){
                    total_keyword_num = parseInt(obj.basestoneNum) + parseInt(obj.stellarNum)
                    if (total_keyword_num > article_biggest_node_keywords_num){
                        article_biggest_node_keywords_num = total_keyword_num
                    }
                }
                
            });

            graph.nodes.forEach(function(obj){
                if (obj.level == 'stellar' || obj.level == 'basestone'){
                    if (obj.connection > keyword_biggest_node_connection_num){
                        keyword_biggest_node_connection_num = obj.connection
                    }
                }
            });     
        };


    //DRAG FUNCTION
    function drag_start(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    //make sure you can't drag the circle outside the box
    function drag_drag(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function drag_end(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = d.x; //sticky node
        d.fy = d.y; //sticky node
        start_time = Date.now();
        end_time = start_time + simulation_duration_in_ms;
    }

    //ZOOM FUNCTION
    function zoom_actions(){
        g.attr("transform", d3.event.transform)
        transform = d3.event.transform
        zoom_level = transform.k
        // setup threshhold of displaying node's text
        if (transform.k < d3_diagram_properties.text_fade_threshhold){
            svg.selectAll('text').style("opacity",0)
        } else if ( d3_diagram_properties.text_fade_threshhold += 0.2 > transform.k >= d3_diagram_properties.text_fade_threshhold) {
            svg.selectAll('text').style("opacity",(transform.k - d3_diagram_properties.text_fade_threshhold)*2)
        } else {
            svg.selectAll('text').style("opacity",1)
        }

        var text_size = nominal_text_size
        if (nominal_text_size*transform.k > max_text_size){
            text_size = max_text_size/transform.k
        }
        svg.selectAll('text').style('font-size', text_size)
        
        var link_stroke_width = nominal_link_stroke_width
        if (nominal_link_stroke_width*transform.k > max_link_stroke_width){
            link_stroke_width = max_link_stroke_width/transform.k
        }
        svg.selectAll('line').attr("stroke-width", link_stroke_width)
        
    }

    function get_node_size(node){
        var node_size_scale_for_keyword = d3.scalePow()
            .exponent(2)
            .range([1, 3])
            .domain([0, keyword_biggest_node_connection_num])

        var node_size_scale_for_article = d3.scalePow()
            .exponent(2)
            .range([5, 8])
            .domain([0, article_biggest_node_keywords_num])

        if (node.level == 'article'){
            total_keyword_num = parseInt(node.basestoneNum) + parseInt(node.stellarNum)
            return node_size_scale_for_article(total_keyword_num)*d3_diagram_properties.node_size
        } else {
            return node_size_scale_for_keyword(node.connection)*d3_diagram_properties.node_size
        }   
    }

    function get_text_dy(node){
        var node_size = get_node_size(node)
        if (node_size > 6 ){
            return node_size + 10 + "px"
        } else {
            return node_size + 6 + "px" 
        }
    }

    function get_node_color(node){
        if (node.level == "article"){
            return "#777777"
        } else {
            return "#333333"
        }
    }

    // update size-related forces
    d3.select(window).on("resize", function(){
        width = +svg.node().getBoundingClientRect().width;
        height = +svg.node().getBoundingClientRect().height;
        update_forces();
    });

    //Implement FADE IN and OUT EFFECT ------------

    function fade(opacity){
            return d => {
                //判斷 node 是否相連，若沒有則套用 opacity
                node
                    .transition()
                    .duration(300)
                    .ease(d3.easeLinear)
                    .style('opacity', function (o) { 
                        //console.log(d,o)
                        return is_connected(d, o) ? 1 : opacity 
                    });
                //判斷連結的 source 或 target 是否為 d 若沒有則套用 opacity
                link
                    .transition()
                    .duration(300)
                    .ease(d3.easeLinear)
                    .style('stroke-opacity', o => (o.source === d || o.target === d ? 1 : opacity));
                //When mouseout reset opacity
                if(opacity === 1){
                    node
                        .transition()
                        .duration(300)
                        .ease(d3.easeLinear)
                        .style('opacity', 1)
                    link
                        .transition()
                        .duration(300)
                        .ease(d3.easeLinear)
                        .style('stroke-opacity', 0.5)
                }
            };
        }

    function is_connected(a, b) {
        return linked_by_index[`${a.index},${b.index}`] || linked_by_index[`${b.index},${a.index}`] || a.index === b.index;
    }

    function activate_tooltip(){
        $('[data-toggle="tooltip"]').tooltip();
    }

    // convenience function to update everything (run after UI input)
    function update_all() {
        start_time = Date.now();
        end_time = start_time + simulation_duration_in_ms;
        reheat_simulation()
        update_forces();
        update_display();
    }
</script>

{% endblock %}


