{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    .dashboard-recentProject-container-badges{
        border: #BFB9B8; 
        border-style: dashed; 
        border-width: 1px; 
        border-radius: 3px;
        padding: 2px 6px;
        font-size: 1rem;
    }

    .table{
        border:1px solid #BFB9B8;
        border-radius: 5px;
        border-spacing: 0px;
        border-collapse: separate;
    }

</style>
<div class="container-fluid" style="padding:0">
    {% include 'project_dashboard_navbar.html' %}
    <div class="row d-flex" style="margin: 4rem 2rem; padding:0 4rem">
        <div class="col-6" style=" padding-right: 30px;">
            <div class="row" style="background-color: #BFB9B8; border-radius: 6px; height: 100%;"></div>
        </div>
        <div class="col-6" style="border: 1px solid #BFB9B8; border-radius: 6px; margin-left: auto; padding: 0;">
            {% for article in articles %}
            <div class="row" style="margin: 10px;">
                <div class="col-7">
                    <div class="row" style="font-size: 14px; font-weight: 500;">
                        {{ article.name }}
                    </div>
                    <div class="row d-flex" style="margin-top: 10px;">
                        <img src="{% static 'img/package.svg' %}" width="13" height="13" style="margin: auto 10px auto 0">
                        <div style="font-size: 14px;">{{article.article_basestone_keyword_sum}} </div>
                        <img src="{% static 'img/git-merge.svg' %}" width="13" height="13" style="margin: auto 10px auto 10px">
                        <div style="font-size: 14px;">{{article.article_stellar_keyword_sum}} </div>
                    </div>
                </div>
                <div class="col-5"></div>
            
            </div>
            {% if not forloop.last %}
            <hr>
            {% else %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}