{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<style>

    .articles_listTable{
        overflow-y: auto; 
        height: 65%;
    }

    .articles_listTable thead th { 
        position: sticky; 
        top: 0; 
    }

    table { 
        table-layout: fixed; 
        border-collapse: collapse; 
        width: 100%; 
    }

    
    th { 
        background:#eee; 
    }

    .breadcrumb {
        padding: 3px 15px;
        font-size: 12px;
    }
    
</style>
    <div class="container-fluid">
        <div class="content-container">
            <div class="row" style="padding: 0 2rem 0 10rem;">
                <div class="col-7">
                    <div class="row" style="margin-top: 4rem;">
                        <div class="col">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'user_dashboard' user.profile.slug %}">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'project:projects_list' %}">Projects</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
                                </ol>
                            </nav>
                        </div>
                        
                    </div>
                    <div class="row" style="">
                        <div class="col">
                            <h1 class="project-title" style="font-family: 'Noto Sans TC', sans-serif; font-size: 2rem; padding-left: 15px;">{{ project.name }}</h1>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <div class="col" style="background-color: #BFB9B8; height: 33rem; margin:0 15px"></div>
                    </div>
                    
                    
                </div>
                <div class="col-5">
                    <div class="row articles_listTable" style="margin-top: 11.3rem;">
                        <div class="col">
                            <table class="table table-hover articles_listTable">
                                <thead>
                                    <tr>
                                      <th scope="col w-10" style="width: 10%">#</th>
                                      <th scope="col 2-70" style="width: 60%" >Title</th>
                                      <th scope="col w-10" style="width: 15%; font-size: 10px;">Basestone keywords</th>
                                      <th scope="col w-5" style="width: 15%; font-size: 10px;">Stellar keyowrds</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for article in articles %}
                                        <tr>
                                            <td scope="row">{{ forloop.counter }}</td>
                                            <td style="font-size: 8px;"><a href="{% url 'article:article-detail' article.slug %}">{{ article.name }}</a></td>
                                            <td>{{ article.article_basestone_keyword_sum }}</td>
                                            <td>{{ article.article_stellar_keyword_sum }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    


{% endif %}
{% endblock %}