{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    .dashboard-recentProject-container-badges{
        border: #BFB9B8; 
        border-style: dashed; 
        border-width: 1px; 
        border-radius: 3px;
        padding: 2px 6px;
        font-size: 1rem;
    }

    .galaxy_name_field{
        width: 45rem;
    }

    .galaxy_description_field{
        width: 45rem;
    }

</style>

<div class="container-fluid" style="padding:0">
    {% include 'project_dashboard_navbar.html' %}

        <div class="row" style="width: 60%; margin: 3rem auto 0 auto;">
            <div class="col-auto">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% if form.errors|length == 1 %}
                        <p class="text-danger">{% trans "Please correct the error below." %}</p>
                    {% elif form.errors|length > 1 %}
                        <p class="text-danger">{% trans "Please correct the errors below." %}</p>
                    {% endif %}
                    {% for error in form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}

                    {% for field in form %}
                        <div class="form-row">
                            <div class="form-group col">
                            {% if field.label == 'Galaxy Name' or field.label == '星系名' %}
                                <h5 style="font-size: 20px; margin-top: 0.5rem; margin-bottom: 10px; font-weight: 900;">{% trans "Galaxy name" %}</h5>
                                {% if not field.errors %}
                                    <div class="row d-flex">
                                        <div class="col">
                                            {% render_field field class+='form-control galaxy_name_field'%}
                                        </div>
                                        <div class="col">
                                            <button type="submit" class="btn btn-light btn-block" style="border: #BFB9B8 solid 1px; font-size: 14px;" name="action" value="rename_galaxy">{% trans 'Rename galaxy' %}</button>
                                        </div>
                                    </div>
                                {% else %}
                                    {% render_field field class+='form-control border-danger' %}
                                    {% for error in field.errors %}  
                                        <small class="text-danger d-block">{{ error }}</small>
                                    {% endfor %}
                                {% endif %} 
                            {% elif field.label == 'Galaxy Description' or field.label == '星系介紹' %}
                                <h5 style="font-size: 20px; margin-top: 0.5rem; margin-bottom: 10px; font-weight: 900;">{% trans "Galaxy description" %}</h5>
                                {% if not field.errors %}
                                    <div class="row d-flex">
                                        <div class="col">
                                            {% render_field field class+='form-control galaxy_description_field'%}
                                        </div>
                                        <div class="col d-flex">
                                            <button type="submit" class="btn btn-light btn-block" style="border: #BFB9B8 solid 1px; margin-top: auto; font-size: 14px;" name="action" value="edit_description">{% trans 'Edit description' %}</button>
                                        </div>
                                    </div>
                                {% else %}
                                    {% render_field field class+='form-control border-danger' %}
                                    {% for error in field.errors %}  
                                        <small class="text-danger d-block">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}          
                            </div>
                        </div>
                    {% endfor %}
                </form>
                <h5 style="font-size: 20px; margin-top: 0.5rem; margin-bottom: 10px; font-weight: 900; margin-top: 3rem;">{% trans "Danger Zone" %}</h5>
                    <div class="row" style="margin-bottom: 5rem;">
                        <div class="col" style="border: solid 1px red; margin: 0 15px; border-radius: 10px; padding: 0;">
                            <div class="row" style="padding: 1rem 1rem">
                                <div class="col-8">
                                    <p style="margin:0; font-weight: 700; font-size: 14px;">{% trans 'Change galaxy visibility' %}</p>
                                    <p style="margin:0; font-weight: 300; font-size: 14px;">The galaxy is currently {{project.project_visibility|lower}}.</p>
                                </div>
                                <div class="col-4 d-flex">
                                    {% include 'modal_change_galaxy_visibility.html' %}
                                    <button type="button" class="btn btn-light" style="border: #BFB9B8 solid 1px; margin: auto 10px auto auto; color: red; font-size: 14px;" data-toggle="modal" data-target="#modalChangeGalaxyVisibility">{% trans 'Change visibility' %}</button>
                                </div>
                            </div>
                            
                            <hr style="padding:0; margin: 0;">

                            <div class="row" style="padding: 1rem 1rem">
                                <div class="col-8">
                                    <p style="margin:0; font-weight: 700; font-size: 14px;">{% trans 'Delete this galaxy' %}</p>
                                    <p style="margin:0; font-weight: 300; font-size: 14px;">{% trans 'Once you hit the button the galaxy will consumed by black hole, there is no going back.' %}</p>
                                </div>
                                <div class="col-4 d-flex">
                                    {% include 'modal_delete_galaxy.html' %}
                                    <button type="button" class="btn btn-light" style="border: #BFB9B8 solid 1px; margin: auto 10px auto auto; color: red; font-size: 14px;" data-toggle="modal" data-target="#modalDeleteGalaxy">{% trans 'Delete this galaxy' %}</button>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
                
            </div>
        </div>
</div>

{% endblock %}

{% block extrajs %}
{% endblock %}