
{% load i18n %}
{% load static %}


{% block content %}
<style>
    .dashboard-recentProject-container-badges{
        border: #BFB9B8; 
        border-style: dashed; 
        border-width: 1px; 
        border-radius: 3px;
        padding: 2px 6px;
        font-size: 1rem;
    }

    .dashboard-nav-item{
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 1rem;
        color: black !important;
        font-weight: 700;
        
    }

</style>

<div class="row d-flex" style="padding: 1.5em 4rem; width: 100%;">
    <div class="col mr-auto d-flex">
        <img src="{% static 'img/archive.svg' %}" width="25" height="25" style="margin: auto 1rem auto 0">
        <span><a href="{% url 'user_dashboard' user.profile.slug %}" style="font-size: 1.2rem;">{{ user.username }}</a></span>
        <span style="padding: 0 0.5vw; font-size: 1.2rem;"> / </span>
        <span><a href="#" style="font-size: 1.2rem;">{{ project.name }}</a></span>
    </div>
    <div class="ml-auto d-flex">
        <div style="margin: auto 0;">
            <span class="d-inline-block mr-2 dashboard-recentProject-container-badges">
                <img src="{% static 'img/article.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px; margin-bottom: 2px;">
                {% load index %}
                <span style="color: #2e1760;"> {{ countArticles }} </span>
            </span>
            <span class="d-inline-block mr-2 dashboard-recentProject-container-badges">
                <img src="{% static 'img/basestone.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px; margin-bottom: 4px;">
                <span>basestone -</span>
                <span style="color: #2e1760;">{{project.project_basestone_keyword_sum}}</span>
            </span>
            <span class="d-inline-block mr-2 dashboard-recentProject-container-badges">
                <img src="{% static 'img/stellar.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px; margin-bottom: 4px;">
                <span>stellar -</span>
                <span style="color: #2e1760;">{{project.project_stellar_keyword_sum}}</span>
            </span>
        </div>
    </div>
</div> 
<div class="row border-bottom" style="margin-top:0; padding-right: 0; width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light" style="padding-left: 5rem;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item text-center mr-2">
                    <a class="nav-link dashboard-nav-item" href="{% url 'project:project_dashboard' project.slug %}"><img src="{% static 'img/inbox.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px ;"> Overview </a>
                </li>
                <li class="nav-item text-center mr-2">
                    <a class="nav-link dashboard-nav-item" href="{% url 'project:project_hologram' project.slug %}"><img src="{% static 'img/telescope.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px ;"> Hologram </a>
                </li>
                <li class="nav-item text-center mr-2">
                    <a class="nav-link dashboard-nav-item" href="{% url 'project:project_articles' project.slug %}"><img src="{% static 'img/book.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px ;"> Articles </a>
                </li>
                <li class="nav-item text-center mr-2">
                    <a class="nav-link dashboard-nav-item" href="{% url 'project:galaxy_setting' project.slug %}"><img src="{% static 'img/gear.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px ;"> Settings </a>
                </li>
            </ul>
        </div>
</div>


{% endblock %}