{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    
    {% comment %}
        Extra small devices (portrait phones, less than 576px)
        No media query for `xs` since this is the default in Bootstrap
    {% endcomment %}

    @media (min-width: 576px) {}
    @media (min-width: 768px) {
        .content-sub-container {
            min-width: 728px !important;
        }
    }
    @media (min-width: 840px) {
        .content-sub-container {
            min-width: 800px !important;
        }
    }


    @media (min-width: 992px) {
        .content-sub-container {
            min-width: 952px !important;
        }
    }
    @media (min-width: 1200px) {
        .content-sub-container {
            min-width: 1160px !important;
        }
        .projects-container{
            max-width: 750px !important;
        }
    }

    .Project-title{
        font-size: 1.5rem;
        font-family: 'Noto Sans TC', sans-serif;
    }

    .dashboard-Projects-container-badges{
        border: #BFB9B8; 
        border-style: dashed; 
        border-width: 1px; 
        border-radius: 3px;
        padding: 2px 6px;
        font-size: 13px;
    }

</style>
<div class="container-fluid" style="padding:0px;">
    {% include 'dashboard_navbar.html' %}
    <div class="content_container d-flex" >
        <div class="row m-auto content-sub-container">
            {% include 'dashboard_sidebar.html' %}
            <div class="col-12 col-md-8 projects-container"  style="padding: 0 25px;">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-6 col-md-7">
                        <form method="GET" action=".">
                            <div class="input-group">
                                <input class="form-control py-2 border" type="search" name="project_filter" placeholder="Find a galaxy" />
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-6 col-md-5 d-flex" style="padding-right: 15px">
                        <a href="{% url 'project:create_newproject' usernameslug=user.profile.slug %}" class="btn btn-primary active ml-auto" role="button" aria-pressed="true" style="font-size: clamp(14px, 2vw, 16px);">Create new Galaxy</a>
                    </div>
                </div>
                {% for project in projects %}
                <div class="row">
                    <div class="col-12">
                        <hr style="border-color: #BFB9B8;">
                        <div class="row" style="padding: 10px 0 0 10px">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="Project-title"><a href="{% url 'project:project_articles' projectnameslug=project.slug usernameslug=profile.slug %}"> {{ project.name }} </a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <div class="row" style="margin: 15px 0 0 5px; padding-left: 6px;">
                            <p style="margin-top: 5px;">
                                <span class="d-inline-block mr-2 dashboard-Projects-container-badges" style="">
                                    <img src="{% static 'img/article.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px; margin-bottom: 2px;">
                                    {% load index %}
                                    <span style="color: #2e1760;"> {{ countArticles|indexforloop:forloop.counter0 }} </span>
                                </span>
                                <span class="d-inline-block mr-2 dashboard-Projects-container-badges">
                                    <img src="{% static 'img/basestone.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px; margin-bottom: 4px;">
                                    <span>basestone -</span>
                                    <span style="color: #2e1760;">{{ countBasestoneKeywords|indexforloop:forloop.counter0 }}</span>
                                </span>
                                <span class="d-inline-block mr-2 dashboard-Projects-container-badges">
                                    <img src="{% static 'img/stellar.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px; margin-bottom: 4px;">
                                    <span>stellar -</span>
                                    <span style="color: #2e1760;">{{countStellarKeywords|indexforloop:forloop.counter0}}</span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <hr style="border-color: #BFB9B8;">
            </div>
        </div>
    </div>
</div>


{% endblock %}