
{% load i18n %}
{% load static %}


{% block content %}
<style>

    @media (min-width: 576px) {
        
    }
    @media (min-width: 768px) {
        .project-badges-container{
            margin-top: 0 !important;
        }
        .project-badges-sub-container{
            margin-left: auto !important;
        }
    }
    @media (min-width: 992px) {
       
    }
    @media (min-width: 1200px) {
        
    }
    .dashboard-recentProject-container-badges{
        border: #BFB9B8; 
        border-style: dashed; 
        border-width: 1px; 
        border-radius: 3px;
        padding: 2px 6px;
        font-size: clamp(12px, 1vw, 16px);
    }

    .dashboard-nav-item{
        font-family: 'Noto Sans TC', sans-serif;
        font-size: clamp(12px, 1vw, 16px);
        color: black !important;
        font-weight: 700;
        
    }

</style>

<div class="project-nav" style="margin: clamp(20px, 2vw, 30px) 0 0 0;">
    <div class="row w-100" style="margin: 0; padding: 0 clamp(20px, 4vw, 60px)">
        <div class="col-12 col-md-6 d-flex">
            <img src="{% static 'img/archive.svg' %}" width="20" height="20" style="margin: auto 1rem auto 0">
            <span style="margin: auto 0;" ><a href="{% url 'user_dashboard' user.profile.slug %}" style="font-size: 1.2rem;">{{ user.username }}</a></span>
            <span style="margin: auto 0; padding: 0 0.5vw; font-size: 1.2rem;"> / </span>
            <span style="margin: auto 0; font-size: 1.2rem;">{{ project.name }}</span>
            <span style="margin: auto 0 auto 10px; border-radius: 50px; border: solid 1px gray; padding: 1px 12px; font-size: 14px; color: gray;">
                {% if project.project_visibility == 'Private' %}
                private 
                {% else %}
                public
                {% endif %}
            </span>
        </div>
        <div class="col-12 col-md-6 project-badges-container d-flex" style="margin-top: 20px;">
            <div class="project-badges-sub-container">
                <span class="d-inline-block mr-2 dashboard-recentProject-container-badges">
                    <img src="{% static 'img/article.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px; margin-bottom: 2px;">
                    <span style="color: #2e1760;"> {{ countArticles }} </span>
                </span>
                <span class="d-inline-block mr-2 dashboard-recentProject-container-badges">
                    <img src="{% static 'img/basestone.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px; margin-bottom: 4px;">
                    <span>basestone -</span>
                    <span style="color: #2e1760;">{{data.basestone}}</span>
                </span>
                <span class="d-inline-block mr-2 dashboard-recentProject-container-badges">
                    <img src="{% static 'img/stellar.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px; margin-bottom: 4px;">
                    <span>stellar -</span>
                    <span style="color: #2e1760;">{{data.stellar}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="row w-100 border-bottom" style="margin: 30px 0 0 0; padding: 0 clamp(20px, 4vw, 60px)">
        <nav class="navbar navbar-expand navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item text-center mr-2">
                        <a class="nav-link dashboard-nav-item" href="{% url 'project:project_hologram' project.slug %}"><img src="{% static 'img/telescope.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px ;"> Hologram </a>
                    </li>
                    <li class="nav-item text-center mr-2">
                        <a class="nav-link dashboard-nav-item" href="{% url 'project:project_articles' project.slug %}"><img src="{% static 'img/book.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px ;"> Articles </a>
                    </li>
                    <li class="nav-item text-center mr-2">
                        <a class="nav-link dashboard-nav-item" href="{% url 'project:galaxy_setting' project.slug %}"><img src="{% static 'img/gear.svg' %}" class="d-inline-block text-center" width="15" height="15" style="margin-right:10px ;"> Settings </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
{% endblock %}
