{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    .dashboard-recentProject-container-badges{
        border: #BFB9B8; 
        border-style: dashed; 
        border-width: 1px; 
        border-radius: 3px;
        padding: 2px 6px;
        font-size: 1rem;
    }

</style>
<div class="container-fluid" style="height: 100%; padding:0">
    {% include 'project_dashboard_navbar.html' %}
    <div class="row" style="margin: 4rem 2rem; padding:0 4rem">
        <div class="col-7" style="background-color: #BFB9B8; width: 100%;"></div>
        <div class="col-5" style="width: 100%;" >

            <table class="table table-sm table-bordered " style="width: 100%; border-radius: 1rem;">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%">##</th>
                        <th scope="col" style="width: 50%" >Title</th>
                        <th scope="col" style="width: 20%; font-size: 10px;">Basestone keywords</th>
                        <th scope="col" style="width: 20%; font-size: 10px;">Stellar keyowrds</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td style="font-size: 8px;"><a href="{% url 'article:article-detail' article.slug %}">{{ article.name }}</a></td>
                            <td style="font-size: 8px;">{{ article.article_basestone_keyword_sum }}</td>
                            <td style="font-size: 8px;">{{ article.article_stellar_keyword_sum }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
     
            
        </div>
    </div>
</div>

{% endblock %}