{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    @media (min-width: 440px) {}
    @media (min-width: 576px) {}
    @media (min-width: 768px) {}
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {}

    html {
        scroll-behavior: smooth;
    }

    .body{
        font-smooth: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .content-container{
        margin: 50px auto 0 auto;
        
        
    }

    .family-button{
        border-radius: 50px;
        font-size: 16px;
        font-weight: 700;
        padding: 5px 12px;
        color: azure;
        border:none;
        transition: 0.3s ease;
        margin-right: 10px;
    }

    .family-button:hover{
        color: azure;
        box-shadow: rgba(10, 10, 10, 0.4) 0px 2px 2px 0px;
        text-decoration: none;
        transition: 0.3s ease;
    }

    .article-title{
        font-size: 36px;
        font-weight: 900;
        margin-top: 20px;
        line-height: 52px;
    }

    .article-url{
        color: #2a9d8f;
    }

    .article-text-container{
        border-radius: 5px;
        border: 1px solid #ECF0F1;
        background-color: white;
        padding: 25px 50px !important;
        font-size: 16px;
    }

    {% comment %}
    Hololink custome style of headers
    {% endcomment %}

    h1 {
        display: block;
        font-size: 42px;
        margin-top: 54px;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
        font-weight: 900;
    }

    h2 {
        display: block;
        font-size: 36px;
        margin-top: 45px;
        margin-bottom: 18px;
        margin-left: 0;
        margin-right: 0;
        font-weight: 900;
    }

    h3 {
        display: block;
        font-size: 28px;
        margin-top: 36px;
        margin-bottom: 16px;
        margin-left: 0;
        margin-right: 0;
        font-weight: 700;
    }

    h4 {
        display: block;
        font-size: 24px;
        margin-top: 24px;
        margin-bottom: 16px;
        margin-left: 0;
        margin-right: 0;
        font-weight: 700;
    }

    h5 {
        display: block;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 16px;
        margin-left: 0;
        margin-right: 0;
        font-weight: 700;
    }

    h6 {
        display: block;
        font-size: 18px;
        margin-top: 18px;
        margin-bottom: 16px;
        margin-left: 0;
        margin-right: 0;
        font-weight: 700;
    }

    p { 
        line-height: 1.85rem;
        font-size: 18px;
        margin-bottom: 24px;
    }

    hololink-highlight{
        background-color: #e9c46a;
    }

    a {
        color: blue;
    }

    .article-navigator-container{
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 10px;
        
        position: sticky;
        top: 0;
    }

    .article-navigator{
        
        border: 1px solid #ECF0F1;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
    }

    .nav-link {
        color: #264653;
        display: block;
        white-space: nowrap; /* forces text to single line */
        overflow: hidden;
        text-overflow: ellipsis;
        padding:8px 10px !important;
        border-radius: 5px;
    }

    .nav-link.active{
        background-color: #e9c46a;
    }

    .hololink-toolbar-inner {
        position: absolute !important;
        background: white !important;
        display: flex !important;
        width: 100px !important;
        height: 30px !important;
        flex-direction: row !important;
        box-shadow: 2px 10px 16px 2px rgba(0,0,0,0.2) !important;
        border-radius: 5px !important;
        justify-content: space-around !important;
        border: 0.2px solid rgba(0,0,0,0.1) !important;
        opacity: 1;
    }

    .hololink-toolbar-button{
        display: flex;
        border: none;
        background-color: white !important;
        color: white;
        margin: auto 0;
        background: white !important;
        height: 100% !important;
        margin: auto 0;
    }

    .hololink-toolbar-button img {
        margin: auto 0;
    }

    .hololink-toolbar-button:hover{
        opacity: 0.5;
    }

    .img:hover{
        opacity: 0.5;
    }

    .hololink-toolbar-tooltip{
        border-radius: 7px !important;
        background-color: #666666 !important;
        padding: 5px 8px !important; 
        color: white !important;
        margin-top: 10px !important;
    }

    .hololink-toolbar-tooltip > .tooltip-inner {
        background-color: #666666 !important;
        color: white !important;
        padding: 0 !important;
        font-size: 14px !important;
        font-family: Arial, sans-serif !important;
        font-weight: 700;
    }
</style>


<div class="container-fluid d-flex" style="background-color: #eeeeee;">
    <div class="content-container">
        <div class="row no-gutters">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row no-gutters">
                    <a href="{% url 'article:articles_list' usernameslug=user.profile.slug%}" class="family-button" style="background-color: #264653;">Articles</a>
                    {% for project in article.projects.all %}
                    <a href="#" class="family-button" style="background-color: #2a9d8f;">{{project.name}}</a>
                    {% endfor %}
                </div>
                <div class="row article-title no-gutters">
                    <div class="col">
                        {{article.name}}
                    </div>
                </div>
                <div class="row no-gutters" style="margin-top: 10px;">
                    <a target="_blank" rel="noopener noreferrer" href="{{ article.from_url }}" class="article-url">
                        <svg style="margin-bottom: 3px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="#2a9d8f" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                        </svg>
                        {{ article.from_url|truncatechars:120 }}
                    </a>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row no-gutters" style="margin: 60px 0;">
            <div class="col-3">
                <div class="article-navigator-container">
                    <div class="article-navigator"></div>
                </div>
            </div>
            <div class="col-6 article-text-container">
                {{ article.article_html | safe }}
            </div>
            <div class="col-3 article-highlight-container">

            </div>
        </div>
        
    </div>
</div>

{% endblock %}

{% block extrajs %}
{{highlights|json_script:"highlights"}}
<script type="text/javascript" src="{% static 'js/article/jquery.mark.min.js' %}"></script>
<script>

    var document_status = 'complete'

    var hololink_toolbar_container = document.createElement('div');
    hololink_toolbar_container.setAttribute('class', 'hololink-toolbar-container');
    document.body.appendChild(hololink_toolbar_container);

    var hololink_toolbar_inner = document.createElement('div');
    hololink_toolbar_inner.setAttribute('class', 'hololink-toolbar-inner');

    // setup toolbar spinner
    var hololink_toolbar_inner_with_spinner = document.createElement('div');
    hololink_toolbar_inner_with_spinner.setAttribute('class', 'hololink-toolbar-inner-with-spinner');

    // we use loading animation from here
    // https://loading.io/css/
    hololink_toolbar_inner_with_spinner.innerHTML = "<div class='lds-ellipsis'><div></div><div></div><div></div><div></div></div>"


    var highlight_button = document.createElement('button');
    highlight_button.setAttribute('class', 'hololink-toolbar-button');
    highlight_button.setAttribute('id', 'hololink_toolbar_highlight');
    highlight_button.setAttribute('data-toggle', 'tooltip');
    highlight_button.setAttribute('data-placement', 'bottom');
    highlight_button.setAttribute('title', 'Highlight');

    var highlighte_img = document.createElement('img');

    highlighte_img.setAttribute('src', "{% static 'img/highlighter.svg' %}");
    highlighte_img.setAttribute('width', 20);
    highlighte_img.setAttribute('height', 20);
    highlighte_img.setAttribute('class', 'hololink-toolbar-button-img');
    highlight_button.appendChild(highlighte_img);

    var annotate_button = document.createElement('button');
    annotate_button.setAttribute('class', 'hololink-toolbar-button');
    annotate_button.setAttribute('id', 'hololink_toolbar_annotate');
    annotate_button.setAttribute('data-toggle', 'tooltip');
    annotate_button.setAttribute('data-placement', 'bottom');
    annotate_button.setAttribute('title', 'Annotate');

    var annotate_img = document.createElement('img');
    annotate_img.setAttribute('src', "{% static 'img/chat.svg' %}");
    annotate_img.setAttribute('width', 20);
    annotate_img.setAttribute('height', 20);
    annotate_img.setAttribute('class', 'hololink-toolbar-button-img');
    annotate_button.appendChild(annotate_img);

    hololink_toolbar_inner.appendChild(highlight_button);
    hololink_toolbar_inner.appendChild(annotate_button);

    /*
        LISTENER
    */

    document.addEventListener('mouseup', function (e) {
        render_toolbar();
    }, false);

    // Close the hololink-toolbar and sidebar when we click on the screen.
    $(window).on('mousedown', function(e){
        // check if click event occured inside the hololink-toolbar-container or sidebar
        var target_array = Array.from(e.target.classList)
        
        const check_click_event_occured_inside_toolbar = target_array.some( r => ['hololink-toolbar-button-img', 'hololink-toolbar-button', 'hololink-toolbar-inner', 'hololink-toolbar-inner-with-spinner'].indexOf(r) >= 0 )
        const check_click_event_occured_inside_sidebar = target_array.some( r => ['hololink-sidebar-container', 'hololink-highlight'].indexOf(r) >= 0 )
        console.log(target_array, check_click_event_occured_inside_toolbar)
        if ($('.hololink-toolbar-inner').length ){
            if (check_click_event_occured_inside_toolbar == false){
                $('.hololink-toolbar-container').find('.hololink-toolbar-inner').remove();
            }
        } else if ($('.hololink-toolbar-inner-with-spinner').length) {
            $('.hololink-toolbar-container').find('.hololink-toolbar-inner-with-spinner').remove();
        }
    });

    function render_toolbar(){
        const selection = document.getSelection && document.getSelection();
        var position = calaculate_tooltip_position()

        if (selection.toString().length > 0 && !$('.hololink-toolbar-inner').length) {
            if (document_status == 'complete'){
                position_toolbar(position.x, position.y);
                hololink_toolbar_container.appendChild(hololink_toolbar_inner);
            } else if (document_status == 'loading') {
                position_toolbar(position.x, position.y);
                hololink_toolbar_container.appendChild(hololink_toolbar_inner_with_spinner);
            }
            
        }
        $('.hololink-toolbar-button').tooltip({
            template: '<div class="hololink-toolbar-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
            trigger : 'hover',
            html: true,
        });
    };

    // Move that bubble to the appropriate location.
    function position_toolbar(x, y) {
        if (document_status == 'complete'){
            hololink_toolbar_inner.style.left = x + 'px';
            hololink_toolbar_inner.style.top = y + 'px';
        } else {
            hololink_toolbar_inner_with_spinner.style.left = x + 'px';
            hololink_toolbar_inner_with_spinner.style.top = y + 'px';
        }
    }
    function calaculate_tooltip_position(){
        var selection = document.getSelection && document.getSelection();
        if (selection && selection.rangeCount > 0) {
            const range = selection.getRangeAt(0);
            const boundingRect = range.getBoundingClientRect();
            const x = boundingRect.left + boundingRect.width / 2 - 50;
            const y = window.pageYOffset + boundingRect.top + boundingRect.height + 10;
            return {x:x, y:y} 
        }
    };

    //TODO: scroll to the header, navigator's header will auto highlight itself

    // Build up article-navigator 

    var navigationHeaderStyle = [
        {fontSize:18, padding:5, fontWeight: 900},
        {fontSize:16, padding:20, fontWeight: 900},
        {fontSize:14, padding:35, fontWeight: 700},
        {fontSize:12, padding:40, fontWeight: 700},
        {fontSize:12, padding:45, fontWeight: 500},
        {fontSize:12, padding:50, fontWeight: 500},
    ]

    var articleHeaders = [...document.querySelectorAll('h1, h2, h3, h4, h5, h6')]
    

    const biggestHeader = articleHeaders[0].nodeName.replace('H', '')
    var articleHeadersNum = []
    for (var i=0; i<articleHeaders.length; i++){
        var tagNumber = articleHeaders[i].nodeName.replace('H', '')
        articleHeadersNum.push(tagNumber)
        articleHeaders[i].setAttribute('id', `${articleHeaders[i].textContent}`)
        articleHeaders[i].setAttribute('class', 'header')
    }

    
    var uniqueArticleHeadersNum = [... new Set(articleHeadersNum)]
    uniqueArticleHeadersNum.sort(function(a,b){
        if (a > b){
            return 1
        }
        if (a < b){
            return -1
        }
        if (a = b){
            return 0
        }
    });

    var articleNavigatorHtml = ''

    for (var i=0; i<articleHeaders.length; i++){
        var tagNumber = articleHeaders[i].nodeName.replace('H', '')
        var index = uniqueArticleHeadersNum.indexOf(tagNumber)
        var fontSize = navigationHeaderStyle[`${index}`].fontSize
        var padding = navigationHeaderStyle[`${index}`].padding
        var fontWeight = navigationHeaderStyle[`${index}`].fontWeight

        var html = `<div class="row no-gutters nav-link-container" style="font-size:${fontSize}px; padding-left: ${padding}px; font-weight: ${fontWeight}"><a class="col nav-link" href="#${articleHeaders[i].textContent}">${articleHeaders[i].textContent}</a></div>`
        console.log(html)
        articleNavigatorHtml += html
    }

    var articleNavigatorNode = document.querySelectorAll('.article-navigator')
    articleNavigatorNode[0].innerHTML = articleNavigatorHtml



    // make article navigator sticky at right position when we scroll up
    // In order to highlight current header we use solution from David
    // ref:https://stackoverflow.com/a/32396543

    // to speed up calculation we iterate reversely
    var $headersReversed = $($(".header").get().reverse());
    var $headers = $('.header')
    var $navigators = $('.nav-link')
    var articleHeadersToNavigatorId = {}
    

    $headers.each(function() {
        var targetId = $(this).attr('id')
		articleHeadersToNavigatorId[`${targetId}`] = $('.nav-link-container').find(`a[href='#${targetId}']`) 
    });

    function activateCurrenHeader() {
        var scrollPosition = $(window).scrollTop();

		$headersReversed.each(function() {
		    var currentHeader = $(this);
		    var headerTop = currentHeader.offset().top;

		    if (scrollPosition >= headerTop) {
		        var id = currentHeader.attr('id');
		        var $navigator = articleHeadersToNavigatorId[id];
		        if (!$navigator.hasClass('active')) {
		            $navigators.removeClass('active');
		            $navigator.addClass('active');
		        }
		        return false;
		    }
		});
    }
    
    console.log(articleHeadersToNavigatorId)

    
    $(window).scroll(function(){
        updateArticleNavigator()
        activateCurrenHeader()
    });
    const articleNavigatorHeight = $('.article-text-container').offset().top
    function updateArticleNavigator(){
        $('.article-navigator-container').each(function(){
            console.log($(window).scrollTop(), articleNavigatorHeight)
            if ($(window).scrollTop() > articleNavigatorHeight){
                $(this).css({"padding-top":"20px"})
            } else {
                $(this).css({"padding-top":"0px"})
            }
        })
    }


    var tempHighlightOptions = {
        "element": "hololink-highlight",
        "className": "",
        "exclude": [],
        "separateWordSearch": false,
        "accuracy": "partially",
        "diacritics": true,
        "synonyms": {},
        "iframes": false,
        "iframesTimeout": 5000,
        "acrossElements": true,
        "caseSensitive": false,
        "ignoreJoiners": true,
        "ignorePunctuation": [],
        "wildcards": "disabled",
        "each": function(node){
            // node is the marked DOM element
            node.setAttribute("data-id", highlightsData[i].id_on_page);
        },
        "filter": function(textNode, foundTerm, totalCounter, counter){
            // textNode is the text node which contains the found term
            // foundTerm is the found search term
            // totalCounter is a counter indicating the total number of all marks
            // at the time of the function call
            // counter is a counter indicating the number of marks for the found term
            return true
            
        },
        "noMatch": function(term){
            // term is the not found term
        },
        "done": function(counter){
            // counter is a counter indicating the total number of all marks
        },
        "debug": false,
        "log": window.console,
    };
    

    var target = document.getElementsByClassName('article-text-container');
    var textTreeWalker = document.createTreeWalker(target[0], NodeFilter.SHOW_TEXT);
    var nodeList = {}
    var currentNode = textTreeWalker.currentNode;
    while(currentNode) {
        nodeList[`${currentNode.parentNode.textContent}`] = currentNode.parentNode
        currentNode = textTreeWalker.nextNode();
    }

    var highlightsData = JSON.parse(document.getElementById('highlights').textContent);
    for (var i=0; i<highlightsData.length; i++){

        var targetNode = nodeList[`${highlightsData[i].anchor_point_data.highlight_parent_node_text}`]
        var instance = new Mark(targetNode);
        instance.mark(highlightsData[i].text, tempHighlightOptions);

        var highlightedElemets = document.querySelectorAll(`[data-id^="${highlightsData[i].id_on_page}"]`);
        //console.log(highlightsData[i], highlightedElemets)

        var highlightedTextCollection = ''
        var highlightedNodesCollection = {}
        var collectionGroup = 0

        for (var j=0; j<highlightedElemets.length; j++){
            
            if (highlightedTextCollection != highlightsData[i].text){
                highlightedTextCollection = highlightedTextCollection + highlightedElemets[j].textContent
                if (highlightedNodesCollection[`${collectionGroup}`]){
                    highlightedNodesCollection[`${collectionGroup}`].push(highlightedElemets[j])
                } else {
                    highlightedNodesCollection[`${collectionGroup}`] = [highlightedElemets[j]]
                }
            } else {
                highlightedTextCollection = ''
                collectionGroup = collectionGroup + 1
                highlightedTextCollection = highlightedTextCollection + highlightedElemets[j].textContent
                if (highlightedNodesCollection[`${collectionGroup}`]){
                    highlightedNodesCollection[`${collectionGroup}`].push(highlightedElemets[j])
                } else {
                    highlightedNodesCollection[`${collectionGroup}`] = [highlightedElemets[j]]
                }
                //console.log('hehe')
            }
        }

        for (const [key, value] of Object.entries(highlightedNodesCollection)){
            var selectRange = document.createRange()
            selectRange.setStartBefore(value[0])
            selectRange.setEndAfter(value[ value.length - 1 ])
            var preCaretRange = selectRange.cloneRange();
            preCaretRange.selectNodeContents(targetNode);
            preCaretRange.setEnd(selectRange.endContainer, selectRange.endOffset);
            caretOffset = preCaretRange.toString().length;
            if (caretOffset != highlightsData[i].anchor_point_data.character_offset){
                for (k=0; k<value.length; k++){
                    unWrapElement(value[k])
                }
                //console.log('not match', value, caretOffset, highlightsData[i].text.length)
            } else {
                //console.log('match',value, caretOffset)
            }
            
        }
    }

    function unWrapElement(target){
        // place childNodes in document fragment
        var docFrag = document.createDocumentFragment();
        while (target.firstChild) {
            var child = target.removeChild(target.firstChild);
            docFrag.appendChild(child);
        }
        // replace wrapper with document fragment
        //console.log(target)
        if (target.parentNode){
            target.parentNode.replaceChild(docFrag, target);
        }
    };
</script>


{% endblock %}
