{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<style>
    #article_detail_content div{
        margin: 20px 0;
    }

    #article_detail_content h1,h2,h3,h4,h5{
        margin: 3rem 0;
    }

    .breadcrumb {
        padding: 3px 15px;
        font-size: 12px;
    }


</style>
    <div class="container-fluid">
        <div class="content-container">
            <div class="row" style="margin-top: 4rem; padding-right: 6rem; padding-left: 6rem;">
                <div class="col-xl-7">
                    <svg width="100%" height="100%"></svg>
                </div>
                <div class="col-xl-5">
                    <div class="row">
                        <div class="col" style="padding-left:0; padding-right: 0;">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'user_dashboard' user.profile.slug %}">Dashboard</a></li>
                                    {% if user_selected_project%}
                                    <li class="breadcrumb-item"><a href="{% url 'project:projects_list' %}">Projects</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'project:project_dashboard' user_selected_project %}">{{ user_selected_project }}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ article.name|truncatechars:30 }}</li>
                                    {% else %}
                                    <li class="breadcrumb-item"><a href="{% url 'article:articles_list' %}">Articles</a></li>
                                    {% endif %}
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col" style="padding: 0;">
                            <div class="accordion" id="article_detail_accordion">
                                <div class="card">
                                    <div class="card-header" id="article_detail_title">
                                        <h1>
                                            <button class="btn" type="button" data-toggle="collapse" data-target="#article_detail_description" aria-expanded="true" aria-controls="article_detail_description" style="font-size: 1.4rem; font-family: 'Noto Sans TC', sans-serif;;">
                                                {{ article.name }}
                                            </button>
                                        </h1>
                                    </div>
                                    <div style="margin: 20px 0" id="article_detail_description" class="collapse" aria-labelledby="article_detail_title" data-parent="#article_detail_accordion">
                                        <div class="row d-flex article_detail_description" style="padding-left: 2.9rem; height: 100%;">
                                            <div style="margin-right: 10px;">
                                                <img src="{% static 'img/link-external.svg' %}" alt=link_external width="15" height="15" class="align-self-center">
                                            </div>
                                            <div style="text-align: center;">
                                                <a target="_blank" rel="noopener noreferrer" href="{{ article.from_url }}">{{ article.from_url|truncatechars:40 }}</a>
                                            </div>
                                        </div>
                                        <div class="row d-flex article_detail_description" style="padding-left: 2.9rem; height: 100%;">
                                            <div style="margin-right: 10px;">
                                                <img src="{% static 'img/clock.svg' %}" alt=created_at width="15" height="15" class="align-self-center">
                                            </div>
                                            <div style="text-align: center;">
                                                <p style="margin-bottom:0;">created at: {{ article.created_at }}</p>
                                            </div>
                                        </div>
                                        <div class="row d-flex article_detail_description" style="padding-left: 2.9rem; height: 100%;">
                                            <div style="margin-right: 10px;">
                                                <img src="{% static 'img/basestone.svg' %}" alt=basestone_keywords width="15" height="15" class="align-self-center">
                                            </div>
                                            <div style="text-align: center;">
                                                <p style="margin-bottom:0;">basestone keywords: {{ article.article_basestone_keyword_sum }}</p>
                                            </div>
                                        </div>
                                        <div class="row d-flex article_detail_description" style="padding-left: 2.9rem; height: 100%;">
                                            <div style="margin-right: 10px;">
                                                <img src="{% static 'img/stellar.svg' %}" alt=stelar_keywords width="15" height="15" class="align-self-center">
                                            </div>
                                            <div style="text-align: center;">
                                                <p style="margin-bottom:0;">stellar keywords: {{ article.article_stellar_keyword_sum }}</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: 35rem; background-color: #BFB9B8; margin-top: 3rem;">

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endif %}
{% endblock %}

{% block extrajs %}
<script>

    

    //First step: prepare svg and add encompassing group-g for the zoom 
    var svg = d3.select("svg"),
        width = $("svg").width()
        height = $("svg").height();

    console.log(width)
    
    var g = svg.append("g")
        .attr("class", "everything");

    var biggestNode = 0

    //Second step: set up simulation and force
    // In this diagram we want to center the big node 
    // forceX and forceY will do the job but they will force the node like backslash so we need to put another center force
    var simulation = d3.forceSimulation()
        .force("x", d3.forceX(width / 2))
        .force("y", d3.forceY(height / 2))
        .force('charge', d3.forceManyBody().strength(20))
        .force("center_force", d3.forceCenter(width / 2, height / 2))
        .force(
            "collision",
            d3
                .forceCollide()
                .radius(function(d){
                    radius = getNodeSize(d)
                    return radius + 2
                })
                .strength(1)
        );
    
    //Third step: LOAD DATA and create node elements
    d3.json('{% url "article:deliver_D3" article.slug%}', function(error,graph){
        if (error) throw error;

        calculateBiggestNum()
        console.log(graph.nodes)

        //Set up scale for forceX an Y
        var strengthScale = d3.scalePow()
            .exponent(2)
            .range([0, 0.5])
            .domain([0, d3.max(graph.nodes, function(d) {
                return d.frequency;
            })]);

        var nodeElements = g.append("g")
            .attr("class", "nodes")         
                .selectAll("circle")
                    .data(graph.nodes)
                    .enter()
                    .append("circle")
                    .attr("r", getNodeSize)
                    .attr("fill", getNodeColor)
                    .style("stroke", "grey")

        var testElements = g.append("g")
            .attr("class", "text")
                .selectAll("text")
                    .data(graph.nodes)
                        .enter()
                        .append('text')
                        .text(node => node.title)
                        .attr('text-anchor', 'middle')
                        //.attr('font-family', "'Noto Sans TC', sans-serif")
                        .attr('font-weight', getTextFontWeight)
                        .attr('dx', 0)
                        .attr('dy', getTextDy)
                        .attr('font-size', getTextFontSize)
                        .style('fill', 'black')

        var NERtestElements = g.append("g")
            .attr("class", "text")
                .selectAll("text")
                    .data(graph.nodes)
                        .enter()
                        .append('text')
                        .text(node => {
                            if (node.level == 'basestone'){
                                return node.type
                            }
                        })
                        .attr('text-anchor', 'middle')
                        .attr('font-weight', getTextFontWeight)
                        .attr('dx', 0)
                        .attr('dy', getNERTextDy)
                        .attr('font-size', getNERTextFontSize)
                        .style('fill', 'black')

        nodeElements.append("title")
            .text(function(d) { return d.title; });

        // Re-define x,y force strength to make bigger node at center
        // And besides that, we make basestone at center and basestone at outer ring
        var XForce = simulation.force("x");
        var YForce = simulation.force("y");

        XForce.strength(function(d){
            if (d.level == "basestone"){
                return strengthScale(d.frequency) + 0.4
            }
            else { 
                return strengthScale(d.frequency) 
            }   
        });

        YForce.strength(function(d){
            if (d.level == "basestone"){
                return strengthScale(d.frequency) + 0.4
            }
            else { 
                return strengthScale(d.frequency) 
            }
        });

        //Fourth step: activate simulation and tick function
        simulation
            .nodes(graph.nodes)
            .on("tick", tickActions);

        function tickActions(){
            nodeElements
                .attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });

            testElements
                .attr("x", node => node.x)
                .attr("y", node => node.y);

            NERtestElements
                .attr("x", node => node.x)
                .attr("y", node => node.y);
        }

        //Fifth step: add drag capability
        var drag_handler = d3.drag()
            .on("start", drag_start)
            .on("drag", drag_drag)
            .on("end", drag_end);	

        drag_handler(nodeElements);
            
        //Sixth step: add fade function
        function fade(opacity){
            return d => {
                nodeElements.style('opacity', function (o) { 
                    if (d==o){ return 1}
                    else {return opacity}
                });
            };
        };

        function calculateBiggestNum(){
            graph.nodes.forEach(function(obj){    
                if (obj.frequency > biggestNode){
                    biggestNode = obj.frequency
                }   
            });    
        };

        console.log(biggestNode)

    });

    var zoom_handler = d3.zoom()
        .on("zoom", zoom_actions);

    zoom_handler(svg);

    //FUNCTION
    function getNodeSize(node){
        var interpolator = d3.interpolateNumber(20,150);
        return interpolator(node.frequency/biggestNode)
    }

    function getNodeColor(node){
        if (node.level == "basestone") {return'#FCA311'}
        else if (node.level == "stellar") {return '#FFFFFF'}
    }

    //Set up scale for Text and NERText Dy
    var textDyScale = d3.scalePow()
            .exponent(2)
            .range([0.5, 2])
            

    function getTextDy(node){
        if (node.level == 'basestone'){
            
            textDyScale.domain([0, biggestNode])
            textdy = textDyScale(node.frequency);
            textdy = textdy;
            return `-${textdy}rem`;
        }
           
        else if (node.level == 'stellar'){
            return '0.35rem';
        }
    }

    function getNERTextDy(node){
        if (node.level == 'basestone'){
            textDyScale.domain([0, biggestNode])
            textdy = textDyScale(node.frequency);
            return `${textdy}rem`;          
        } 
    }

    function getTextFontSize(node){
        var interpolator = d3.interpolateNumber(7,50);
        return interpolator(node.frequency/biggestNode)
    }

    function getNERTextFontSize(node){
        var interpolator = d3.interpolateNumber(7,30);
        return interpolator(node.frequency/biggestNode)
    }

    function getTextFontWeight(node){
        if (node.frequency/biggestNode > 0.8){
            return 900
        }
        else if ( 0.8 > node.frequency/biggestNode > 0.5){
            return 700
        }
        else if (node.frequency/biggestNode < 0.5){
            return 3000
        }
    }

    //DRAG FUNCTION
    function drag_start(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    //make sure you can't drag the circle outside the box
    function drag_drag(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function drag_end(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = d.x; //sticky node
        d.fy = d.y; //sticky node
    }

    //ZOOM FUNCTION
    function zoom_actions(){
        g.attr("transform", d3.event.transform)
    }

</script>

{% endblock %}