{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    @media (min-width: 440px) {}
    @media (min-width: 576px) {}
    @media (min-width: 768px) {}
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {
        .content-container{
            min-width: 80% !important;
            
        }
    }

    .col {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .row {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .content-container{
        margin: 50px auto 0 auto;
        
    }

    .family-button{
        border-radius: 50px;
        font-size: 16px;
        font-weight: 700;
        padding: 5px 12px;
        color: azure;
        border:none;
        transition: 0.3s ease;
        margin-right: 10px;
    }

    .family-button:hover{
        color: azure;
        box-shadow: rgba(10, 10, 10, 0.4) 0px 2px 2px 0px;
        text-decoration: none;
        transition: 0.3s ease;
    }

    .article-title{
        font-size: 36px;
        font-weight: 900;
        margin-top: 10px;
    }

    .article-url{
        color: #2a9d8f;
    }

</style>


<div class="container-fluid d-flex">
    <div class="content-container">
        <div class="row">
            <div class="col flex-column">
                <a href="#" class="family-button" style="background-color: #264653;">Articles</a>
                {% for project in article.projects.all %}
                <a href="#" class="family-button" style="background-color: #2a9d8f;">{{project.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="row article-title">
            {{article.name}}
        </div>
        <div class="row">
            <div class="col">
                <a target="_blank" rel="noopener noreferrer" href="{{ article.from_url }}" class="article-url">
                    <svg style="margin-bottom: 3px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="#2a9d8f" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                    </svg>
                    {{ article.from_url|truncatechars:120 }}
                </a>
            </div>
        </div>
        
    </div>
    
</div>

{% endblock %}
