{% extends 'article/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container-fluid" style="max-width: 800px;">
    <div class="row" style="height: 4rem;"></div>
    <div class="row justify-content-center">
        <div class="col">
            {% if not articles %}
            <div style="text-align: center;padding: 2rem;">
                <p>{% trans "You don't have any article to show. " %}<a class="text-primary"
                        href="{% url 'article:add' %}">{% trans 'Add one now.'%}</a></p>
            </div>
            {% else %}
                <hr>
                {% for article in articles %}
                <div class="article_container d-block">
                    <div class="row"> 
                        <div class="article_title col-10 font-weight-bold" style="font-size: 18px;">
                            {{ article.name }}
                        </div>
                        <div class="col">

                        </div>
                    </div>
                    <div class="row">
                        <div class="article_url col-8">
                            <a target="_blank" rel="noopener noreferrer" href="{{ article.from_url }}" style="font-size: 10px; color: gray;">{{ article.from_url|truncatechars:60 }}</a>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                    <div class="row mt-1 d-flex flex-row" style="height: 38px; max-width: 100%;">
                        <div class="article_created_at col-8 m-auto" style="font-size: 10px; color: gray;">
                            {{ article.created_at|date:"Y/m/d" }} - {{ article.created_at|time:"H:i" }}
                        </div>
                        <div class="col">
                            <div class="row" style="height: 100%;">
                                <div class="col d-flex justify-content-center align-items-center" style="margin: 3px; background-color: #BFB9B8; border-radius: 5px;">
                                    <p class="text-center m-auto" style="color: black; font-weight: 400; font-size: 12px;">Stellar - {{article.stellar_keyword_amount}}</p> 
                                </div>
                                <div class="col d-flex justify-content-center align-items-center" style="margin: 3px; background-color: #BFB9B8; border-radius: 5px;">
                                    <p class="text-center m-auto" style="color: black; font-weight: 400; font-size: 12px;">Basestone - {{article.basestone_keyword_amount}}</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row" style="height: 8rem"></div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/article/change_list.js' %}"></script>
{% endblock %}